<div class="agreement">
  <div class="container">
    <div class="agreementinner">

      <div class="row">
        <div class="col-md-6">
          <div class="agrmnt-lft">
            <div>
              <h2>Your Space
                To Manage

                Your Home
                Protection</h2>

              <p>Let's keep your home up and running.
                Login to access your account, file
                claims and manage your membership</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="agrmnt-rght">
            <a class="need ">Need Help?</a>
            <div class="loginsecdiv">
              <h4>MEMBER LOGIN <br>
                AREA</h4>

              <div class="itemmember">
                <label for="">EMAIL ADDRESS</label>
                <input type="text" class="form-control" placeholder="Enter email address">
              </div>

              <div class="itemmember">
                <label for="">Password</label>
                <input type="password" class="form-control" placeholder="Enter your password">
              </div>

              <div class="itemmember ">

                <div class="row ">
                  <div class="col-lg-6">
                    <mat-slide-toggle>Remember me</mat-slide-toggle>
                  </div>
                  <div class="col-lg-6 text-right">
                    <a>Forgot password?</a>
                  </div>
                </div>




              </div>

              <button class="greenbtn mt-3"> LOGIN</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
