<div class="inner-container commonpage">
  <div class="container">
    <div class="homeowner__header">
      <h2>Elite Home <br>
        Warranty Partners<br>
        With Real Estate<br>
        Professionals</h2>
    </div>
    <div class="homeowner__content">
      <div></div>
      <p>Real estate professionals know they’ll
        benefit from every marketing outlet
        possible. One of the strongest marketing
        messages you can send is to let future
        buyers and sellers know that you secure
        home warranties
      </p>
    </div>
    <div class="homeowner__content">
      <div></div>
      <p class="custom__paragraph"><span>APPLY NOW </span> to join the Elite Home Warranty
        partnership network!</p>
    </div>
    <br><br>
    <div class="homeowner__content w-100">
      <div class="w-50 m-auto">
        <div class="land-form-title">
          <h3>REAL ESTATE PROFESSIONALS</h3>
          <p>{{providersFormQuestion?.rep[selectedInddex]}}</p>
        </div>
        <mat-horizontal-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="ChooseFormgroup">
            <p style="width: 104%;"> Would you like to go over and edit your previous application ?</p>
            <div class="access__btn__sec">
              <div class="form-fld text-center" style="width: 72%;margin: 0 auto;">
                <div class="actionControl fullSzBtn">
                  <button type="button" class="submit-btn" (click)="accessForm('acsess')">
                    <span>ACCESS MY APPLICATION</span>
                  </button>
                </div>
              </div>
              <div class="form-fld text-center" style="width: 100%;">
                <div class="actionControl fullSzBtn">
                  <button type="button" class="submit-btn" (click)="accessForm('New')">
                    <span>CREATE NEW APPLICATION</span>
                  </button>

                </div>
              </div>
            </div>
          </mat-step>

          <mat-step [stepControl]="basicInfoForm">
            <form [formGroup]="basicInfoForm">
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="name" placeholder="Enter Full Name"
                    (keyup)="replaceMorethenoneSpace($event, 'Uname')" (blur)="removelastspace($event, 'Uname')">
                  <label>Enter Full Name</label>
                </div>
                <mat-error
                  *ngIf="basicInfoForm.controls.name.touched && basicInfoForm.controls.name.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="basicInfoForm.controls.name.touched && basicInfoForm.controls.name.hasError('pattern')">
                  Full name is incorrect.
                </mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" mask="(000) 000-0000" matInput formControlName="mobile"
                    placeholder="Enter Mobile Number">
                  <label>Enter Mobile Number</label>
                </div>
                <mat-error
                  *ngIf="basicInfoForm.controls.mobile.touched && basicInfoForm.controls.mobile.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="basicInfoForm.controls.mobile.touched && basicInfoForm.controls.mobile.hasError('minlength')">
                  Mobile number must have 10 digits.
                </mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="email" placeholder="Enter Email Address"
                    (keyup)="restrictSpace($event)">
                  <label>Enter Email Address</label>
                </div>
                <mat-error
                  *ngIf="basicInfoForm.controls.email.touched && basicInfoForm.controls.email.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="basicInfoForm.controls.email.value !== '' && basicInfoForm.controls.email.hasError('pattern')">
                  Email is invalid.</mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="actionControl">
                  <button type="button" class="submit-btn"
                    (click)="validateForm(stepper, 'basicInfoForm', 1)"><span>CONTINUE</span></button>
                </div>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="companyInfoForm">
            <form [formGroup]="companyInfoForm">
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="companyName" placeholder="Company Name"
                    (keyup)="replaceMorethenoneSpace($event, 'Cname')" (blur)="removelastspace($event, 'Cname')">
                  <label>Company Name</label>
                </div>
                <mat-error
                  *ngIf="companyInfoForm.controls.companyName.touched && companyInfoForm.controls.companyName.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="companyInfoForm.controls.companyName.touched && companyInfoForm.controls.companyName.hasError('pattern')">
                  Company name is incorrect.
                </mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="address" placeholder="Company Address" #location>
                  <label>Company Address</label>
                </div>
                <mat-error
                  *ngIf="companyInfoForm.controls.address.touched && companyInfoForm.controls.address.hasError('required')">
                  This field is required.
                </mat-error>
                <ng-container
                  *ngIf="companyInfoForm.controls.address.touched && !companyInfoForm.controls.address.hasError('required')">
                  <mat-error *ngIf="!addressSeldcted">
                    Please select any address from the list.
                  </mat-error>
                  <mat-error *ngIf="companyInfoForm.controls.state.hasError('required') && addressSeldcted">
                    Address must contains any state.
                  </mat-error>
                  <mat-error *ngIf="companyInfoForm.controls.city.hasError('required') && addressSeldcted">
                    Address must contains any city.
                  </mat-error>

                  <mat-error *ngIf="companyInfoForm.controls.zipCode.hasError('required') && addressSeldcted">
                    Address must contains any zipcode.
                  </mat-error>
                </ng-container>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="additionalAddress" placeholder="Apartment, floor #" #csp>
                  <label>Apartment, floor #</label>
                </div>
                <mat-error
                  *ngIf="companyInfoForm.controls.additionalAddress.touched && companyInfoForm.controls.additionalAddress.hasError('required')">
                  This field is required.</mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="zipCode" placeholder="Zipcode" #csp readonly>
                  <label>Zipcode</label>
                </div>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="city" placeholder="City" #csp>
                  <label>City</label>
                </div>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="state" placeholder="State" #csp>
                  <label>State</label>
                </div>
              </div>
              <div class="btn-sec">
                <div class="form-fld text-center" style="margin-bottom: 0px;">
                  <div class="actionControl">
                    <button type="button" class="submit-btn" (click)="goBack(stepper)"><span>GO
                        BACK</span></button>
                  </div>
                </div>
                <div class="form-fld text-center">
                  <div class="actionControl">
                    <button type="button" class="submit-btn"
                      (click)="validateForm(stepper, 'companyInfoForm', 2)"><span>CONTINUE</span></button>
                  </div>
                </div>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="businessContactForm">
            <form [formGroup]="businessContactForm">
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="business_email" placeholder="Business Email Address"
                    (keyup)="restrictSpace($event)">
                  <label>Business Email Address</label>
                </div>
                <mat-error
                  *ngIf="businessContactForm.controls.business_email.touched && businessContactForm.controls.business_email.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="businessContactForm.controls.business_email.touched && businessContactForm.controls.business_email.hasError('pattern')">
                  Email is invalid.
                </mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" mask="(000) 000-0000" matInput formControlName="business_phone"
                    placeholder="Business Phone Number">
                  <label>Business Phone Number</label>
                </div>
                <mat-error
                  *ngIf="businessContactForm.controls.business_phone.touched && businessContactForm.controls.business_phone.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="businessContactForm.controls.business_phone.touched && businessContactForm.controls.business_phone.hasError('minlength')">
                  Phone number must have 10 digits.
                </mat-error>
              </div>
              <div class="btn-sec">
                <div class="form-fld text-center" style="margin-bottom: 0px;">
                  <div class="actionControl">
                    <button type="button" class="submit-btn" (click)="goBack(stepper)"><span>GO
                        BACK</span></button>
                  </div>
                </div>
                <div class="form-fld text-center">
                  <div class="actionControl">
                    <button type="button" class="submit-btn"
                      (click)="validateForm(stepper, 'businessContactForm', 3)"><span>CONTINUE</span></button>
                  </div>
                </div>
              </div>

            </form>
          </mat-step>

          <mat-step [stepControl]="licensedTechniciansForm">
            <form [formGroup]="licensedTechniciansForm">
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" mask="0*" matInput formControlName="licensed_employees"
                    placeholder="Number of Licensed Technicians">
                  <label>Number of Licensed Technicians</label>
                </div>
                <mat-error
                  *ngIf="licensedTechniciansForm.controls.licensed_employees.touched && licensedTechniciansForm.controls.licensed_employees.hasError('required')">
                  This field is required.
                </mat-error>
              </div>
              <div class="btn-sec">
                <div class="form-fld text-center" style="margin-bottom: 0px;">
                  <div class="actionControl">
                    <button type="button" class="submit-btn" (click)="goBack(stepper)"><span>GO
                        BACK</span></button>
                  </div>
                </div>
                <div class="form-fld text-center">
                  <div class="actionControl">
                    <button type="button" class="submit-btn"
                      (click)="validateForm(stepper, 'licensedTechniciansForm', 4)"><span>CONTINUE</span></button>
                  </div>
                </div>
              </div>

            </form>
          </mat-step>

          <mat-step [stepControl]="additionalStateForm">
            <form [formGroup]="additionalStateForm">
              <div class="form-fld text-center">
                <div class="formControl">
                  <input matInput type="text" formControlName="availability" placeholder="Add State"
                    [matAutocomplete]="autounique1" [disabled]="additionalStateForm.controls.nationWide.value"
                    (keyup)="searchfilter($event)" multiple>
                  <label>Add State</label>
                  <mat-autocomplete #autounique1="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let State of filteredStates" [value]="selectedState">
                      <div (click)="stateOptionClicked($event, State)">
                        <mat-checkbox [checked]="State.selected" (change)="toggleStateSelection(State)"
                          (click)="$event.stopPropagation()">
                          {{State?.title}}
                        </mat-checkbox>
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </div>
                <div *ngIf="selectedState">
                  <ul style="list-style: none; margin: 0; padding: 10px 10px 0 10px; display: flex; flex-wrap: wrap;">
                    <li *ngFor="let item of selectedState">
                      <mat-checkbox [checked]="item?.selected" (click)="removeState(item)">
                        <p>
                          {{item?.title}}
                        </p>
                      </mat-checkbox>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-fld text-center">
                Or
              </div>
              <div class="form-fld text-center">
                <mat-checkbox formControlName="nationWide">Nationwide</mat-checkbox>
                <mat-error
                  *ngIf="additionalStateForm.controls.nationWide.touched && additionalStateForm.controls.nationWide.hasError('required')">
                  This field is required.
                </mat-error>

              </div>
              <div class="btn-sec">
                <div class="form-fld text-center" style="margin-bottom: 0px;">
                  <div class="actionControl">
                    <button type="button" class="submit-btn" (click)="goBack(stepper)"><span>GO
                        BACK</span></button>
                  </div>
                </div>
                <div class="form-fld text-center">
                  <div class="actionControl">
                    <button type="button" class="submit-btn"
                      (click)="validateForm(stepper, 'additionalStateForm', 5)"><span>CONTINUE</span></button>
                  </div>
                </div>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="commentBoxForm">
            <form [formGroup]="commentBoxForm">
              <div class="form-fld text-center">
                <div class="formControl" style="height: 75px;">
                  <textarea matInput formControlName="comments" placeholder="Comment box"
                    (keyup)="replaceMorethenoneSpace($event, 'comments')" (blur)="removelastspace($event, 'comments')"
                    style="width: 100%;"></textarea>
                  <label>Comment box</label>
                </div>
                <mat-error
                  *ngIf="commentBoxForm.controls.comments.touched && commentBoxForm.controls.comments.hasError('required')">
                  This field is required.
                </mat-error>
              </div>
              <div class="btn-sec">
                <div class="form-fld text-center" style="margin-bottom: 0px;">
                  <div class="actionControl">
                    <button type="button" class="submit-btn" (click)="goBack(stepper)"><span>GO
                        BACK</span></button>
                  </div>
                </div>
                <div class="form-fld text-center">
                  <div class="actionControl">
                    <button type="button" class="submit-btn"
                      (click)="validateForm(stepper, 'commentBoxForm', 9)"><span>CONTINUE</span></button>
                  </div>
                </div>
              </div>

            </form>
          </mat-step>

          <mat-step [stepControl]="stepFinishForm">
            <form [formGroup]="stepFinishForm">
              <div class="form-fld text-center">
                <p style="width: 100%;">Thank you for your interest in becoming one of our preferred real estate firms,
                  you will receive
                  email confirmation along with your account login credentials once your real estate account is
                  approved.</p>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
        <!-- </form> -->
      </div>
    </div>

    <div class="homeowner__header mt-5">
      <h3 class="w-70">Selling Homes With
        a Home Warranty
      </h3>
    </div>
    <div class="homeowner__content" style="display: block;">
      <div class="w-70 ml-auto">
        <div class="w-60 ">


          <small>
            Any homeowner will be incentivized to buy when a
            home warranty is part of the package. Home
            warranties protect homeowners from having to
            pay unexpected, out-of-pocket costs for the
            appliances and systems in their home
          </small>
        </div>
      </div>
      <div class="w-70 mt-5 mb-5 ml-auto">
        <div class="w-70 ml-auto">


          <small>
            Homeowners love Elite Home Warranty because
            we provide exceptional customer service and the
            highest level of customization. Compared to other
            home warranty companies, we let homeowners
            take the lead. Once the EHW plan is theirs, they
            can add or remove items, set their own service
            fees and change caps on covered items
          </small>
        </div>

        <div class="greenline"></div>

        <br>
        <br>
        <p class="w-60">
          We make it easy for you to benefit <br>
          from this system
        </p>
      </div>

    </div>




    <div class="homeowner__header mt-5">
      <h3 class="w-60">Why Realtors Partner
        With Elite Home Warranty</h3>
    </div>

    <div class="homeowner__content">
      <div class="w-65">
        <img alt="" class="img-fluid" src="assets/images/real.png">
        <div class="greenline"></div>
        <p class="w-100 mt-5">A home is the biggest investment most people will
          ever make. You already know how challenging it can
          be to bring a prospective buyer to the decision
          point. A home warranty transforms this reality</p>
        <small>Our home warranty plans work perfectly for real estate transactions. Fully
          transferable and with an easily accessible sales team, we can take care of all
          of the details on our end without a care on yours. Watch your homeowner
          satisfaction and referrals improve when you add home warranties to your
          valuable real estate services
        </small>
      </div>
    </div>



    <div class="homeowner__header mt-5">
      <h3 class="w-60">Real Estate Partnership
        Requirements</h3>
    </div>

    <div class="homeowner__content">
      <div class="w-50">

        <small>Every individual or agency we partner with will
          undergo a verification and approval process. Fill
          out the above application and attach any
          recommended or required documents. Contact us
          with any questions
        </small>
      </div>
    </div>



    <div class="homeowner__header mt-5">
      <h3 class="w-60">Real Estate
        Partnership Benefits</h3>
    </div>



    <div class="homeowner__content">
      <div class="w-70">

        <small>
          Linking arms with Elite Home Warranty has immense benefits to you.
          Unlike other home warranty companies, we don’t have a reputation of
          hiding behind complex terms and conditions and refusing claims. Instead,
          we are known for our honesty and transparency. We operate that way all
          of the time: with real estate partners and with homeowners
        </small>


        <div class="accr-common">
          <h4>With Elite Home Warranty, you will get:</h4>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  - Access to our easy to use real estate professionals portal
                </mat-panel-title>

              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  - To Create, update, share and pay for invoices on the go
                </mat-panel-title>

              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  - Access closing documents instantly from any device
                </mat-panel-title>

              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  -
                  Better coverage than compet itors
                </mat-panel-title>

              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  -
                  Customer center models
                </mat-panel-title>

              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  -
                  To protect your reputat Ion

                </mat-panel-title>

              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  -
                  Instant claims processing

                </mat-panel-title>

              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  -
                  Excellent network of licensed service providers

                </mat-panel-title>

              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>



          </mat-accordion>
          <br> <br>
          <small class="w-100">
            Elite Home Warranty has a comprehensive network of qualified, licensed
            service providers. We offer the most varied and customizable plans on the
            market. Our above-and-beyond offerings include things like Elite Electronics
            and Elite Service Line. All of these could be key motivators as buyers and sellers
            work with you
          </small>


        </div>
      </div>
    </div>




    <div class="homeowner__header mt-5">
      <h3 class="w-60">Learn More About
        Partnering With Elite
        Home Warranty</h3>
    </div>
    <div class="homeowner__content">
      <div class="w-65">


        <small>Elite Home Warranty is, at heart, a service-based
          business. We understand that homeowners
          entrust their premium payment to us and need us
          to make good on claims. Every homeowner
          deserves the coverage they have paid for. We will
          always go the extra mile to make sure they get it</small>
      </div>
    </div>


    <div class="homeowner__content justify-content-end mt-5">
      <p class="w-70" style="background: #dae2d2; padding: 20px;"> If you want more details or have questions,
        <strong>contact us</strong> today!</p>
    </div>

    <div style="clear: both;"></div>


    <div class="ps-section">
      <div class="ps">
        P.S
      </div>
      <div class="w-100">
        <h2>Building the future of
          home warranties together</h2>
      </div>
    </div>

  </div>
</div>
