<div class="inner-container">
  <div class="container">
    <div class="headersec">
      <p>Elite Home Warranty</p>
      <h2>Terms of Service</h2>
    </div>
    <div class="contentHeader">
      <p>Last Modified:<span> October 1, 2020</span></p>
    </div>
    <div class="content">
      <p>This Terms of Service is a contract entered into by and between
        You (“you” or “User”) and Elite Home Warranty (“Elite Home Warranty.” “We,” or “us”) and our a liates, to the
        extent expressly stated.
        These terms and conditions (together with our Privacy
        Statement, the “Terms of Service” or “Terms”) govern your access to
        and use of <a> https://werelite.com</a> (“Website”), our mobile application (“App”) and any content,
        functionality, and
        services (collectively with the Website, “Services”) offered on or through the Website,
        whether as a guest or registered user.</p>
      <p>Please read the Terms of Service carefully before you start to use the Website or access our Services. By using
        our Website or Services, you accept and agree to be bound and abide by these Terms. If you do not agree to these
        Terms of Service you must not access our Website, App or use our Services.</p>

      <ol class="paddingoff">
        <li>
          <h3><span>AGE RESTRICTIONS</span></h3>
          <p>The Website and Services are intended for users 18 and older. By accessing or using the Website, You
            represent and warrant that you are at least eighteen (18) years old and that you possess the legal right and
            ability to enter into this Terms of Service and to use the Services in accordance with these Terms.</p>
        </li>
        <li>
          <h3><span>CHANGES TO TERMS OF SERVICE</span></h3>
          <p>We may revise and update these Terms of Service from time to time in our sole discretion by posting a
            revised version on the Website. All changes are e ective immediately when we post them. Elite Home Warranty
            may provide reasonable notice of any material changes, determined at our sole discretion, by posting the
            updated Terms of Service on the Website. Any revisions to the Terms of Service will take e ect on the noted
            E ective Date, located at the top of these Terms.</p>
          <p>You understand that your continued use of the Website or Services following the E ective Date, means that
            you accept and agree to be bound by these Terms of Service. If you do not accept the Terms of Service in its
            entirety, you must not access or use the Website, App or any other features of our Services after the
            Effective Date.</p>
        </li>
        <li>
          <h3><span>ABOUT ELITE HOME WARRANTY</span></h3>
          <p>At Elite Home Warranty, we provide more than just peace of mind. Obtain absolute transparency and a clear,
            customized plan with coverage that meets your needs. We deliver the ultimate service that exceeds your
            expectations.We are proud to provide consumers with home warranties and home warranty-related services.
            Consumers who use Elite Home Warranty are solely responsible for evaluating and determining the suitability
            of any home warranty plans or home warranty-related service found on the Website.</p>
        </li>
        <li>
          <h3><span>USER ACCOUNTS</span></h3>
          <p>A user Account (“Account”) will only be created for consumers who purchase a home warranty policy or
            service agreement from us. Upon purchase of a home warranty policy or service agreement, an Account will be
            generated and login credentials will be sent to your email address. You may have the option of providing
            additional details to complete your Account. You are responsible for maintaining the con dentiality of your
            Account information, including your password. You agree that you are solely responsible for any and all
            losses incurred by us or any other user or visitor to the Website due to someone else using your Account as
            a result of your failing to keep your account information secure and con dential. It is a condition of your
            use of the Website that all the information you provide on your Account will be correct, current, and
            complete.</p>
        </li>
        <li>
          <h3><span>PROHIBITED USES</span></h3>
          <p>You may use our Website and Services only for lawful purposes and in accordance with these Terms of
            Service. You agree not to use the Website:</p>
          <ol>
            <li>
              <p>
                In any way that violates any applicable federal, state, local, or international law or regulation
                (including, without limitation, any laws regarding the export of data or software to and from the US or
                other countries).
              </p>
            </li>
            <li>
              <p>
                To send, knowingly receive, upload, download, use, or re-use any material that does not comply with
                these Terms of Service.
              </p>
            </li>
            <li>
              <p>
                To transmit, or procure the sending of, any advertising or promotional material, including any "junk
                mail," "chain letter," "spam," or any other similar solicitation.
              </p>
            </li>
            <li>
              <p>
                To impersonate or attempt to impersonate Elite Home Warranty, a Elite Home Warranty employee, another
                user, or any other person or entity (including, without limitation, by using email addresses or account
                names associated with any of the foregoing).
              </p>
            </li>
            <li>
              <p>
                To engage in any other conduct that restricts or inhibits anyone's use or enjoyment of the Website, or
                which, as determined by us, may harm Elite Home Warranty or users of the Website, or expose them to
                liability.
              </p>
            </li>
          </ol>
          <p>Additionally, you agree not to:</p>
          <ol>
            <li>
              <p>
                Use the Website in any manner that could disable, overburden, damage, or impair the site or interfere
                with any other party's use of the Website, including their ability to engage in real time activities
                through the Website.
              </p>
            </li>
            <li>
              <p>
                Use any robot, spider, or other automatic device, process, or means to access the Website for any
                purpose, including monitoring or copying any of the material on the Website.
              </p>
            </li>
            <li>
              <p>
                Use any manual process to monitor or copy any of the material on the Website, or for any other purpose
                not expressly authorized in these Terms of Service, without our prior written consent.
              </p>
            </li>
            <li>
              <p>
                Use any device, software, or routine that interferes with the proper working of the Website, including
                any viruses, Trojan horses, worms, logic bombs, or other material that is malicious or technologically
                harmful.
              </p>
            </li>
            <li>
              <p>
                Attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of the Website, the
                server on
                which the Website is stored, or any server, computer, or database connected to the Website.
              </p>
            </li>
            <li>
              <p>
                Attack the Website via a denial-of-service attack or a distributed denial-of-service attack.
              </p>
            </li>
            <li>
              <p>
                Otherwise attempt to interfere with the proper working of the Website.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <h3><span>TERMS OF SERVICE VIOLATIONS AND TERMINATION</span></h3>
          <p>We may suspend or terminate your Account or ability to access or use the Services at any time, for any or
            no reason, including for violations of these Terms, at our sole discretion, and without notice or liability
            of any kind. You agree that any violation by you of these Terms of Use will constitute an unlawful and
            unfair business practice, and will cause irreparable harm to us, for which monetary damages would be
            inadequate; and you consent to our obtaining any injunctive or equitable relief that we deem necessary or
            appropriate in such circumstances. These remedies are in addition to any other remedies we may have at law
            or in equity.</p>
          <p style="margin-bottom: 0px;">
            You may terminate these Terms at any time and for any reason by deleting your Account and discontinuing your
            use of all Services. You may delete your Account by accessing your Account Dashboard on the Website or by
            contacting us at:</p>
          <p><a href="mailto:optout@werelite.com" target="_blank">optout@werelite.com.</a>You acknowledge and agree that
            even
            if you discontinue your Account, we may
            continue to
            display any content that you have provided on the Website.</p>
        </li>
        <li>
          <h3><span>INTELLECTUAL PROPERTY RIGHTS</span></h3>
          <p>
            The Website and its entire contents, features, and functionality (including but not limited to all
            information, software, text, displays, images, video, and audio, and the design, selection, and
            arrangement thereof) are owned by the Elite Home Warranty, its licensors, or other providers of such
            material and are protected by United States and international copyright, trademark, patent, trade secret,
            and other intellectual property or proprietary rights laws.</p>
          <p>These Terms of Service permit you to use the Website for your personal, non-commercial use only. You must
            not access or use for any commercial purposes any part of the Website or any Services or materials available
            through the Website. You must not reproduce, distribute, modify, create derivative works of, publicly
            display, publicly perform, republish, download, store, or transmit any of the material on our Website except
            as permitted by this Terms of Service.</p>
          <p>The Elite Home Warranty name, logo, trademarks and all related names, logos, product and service names,
            designs, and slogans are trademarks of Elite Home Warranty or its afiliates or licensors. You must not use
            such marks without the prior written permission of Elite Home Warranty. All other names, logos, product and
            service names, designs, and slogans on this Website are the trademarks of their respective owners.</p>
        </li>
        <li>
          <h3><span>PAYMENT METHODS</span></h3>
          <p>
            We may offer home warranty service plans and related services, such as repair and inspection services, to
            users for a fee. If you choose to purchase such features, we will also collect payment information, such as
            credit card, billing address and other financial account information. In order to use these features, users
            must provide account information for at least one valid Payment
            Method, such as your credit card information.</p>
          <p>You hereby authorize Elite Home Warranty, as applicable, to run credit card authorizations on all credit
            cards provided by you, to store credit card and banking or other nancial details as your method of payment
            consistent with our privacy Statement, to electronically credit your designated bank account via ACH for
            payment of covered claims, and to charge your credit card (or any other Payment Method) for applicable fees,
            including taxes and service charges, and any other amounts owed under the Terms of Service. To the extent
            permitted by applicable law and subject to our privacy Statement, you acknowledge and agree that we may use
            certain third-party vendors and service providers to process payments and manage your Payment Method
            information.</p>
          <p>You may update your Payment Method by accessing your Account settings on the Website. You are solely
            responsible for maintaining the accuracy of your Payment Method information. We are not responsible for any
            failure to process your Payment Method due to inaccurate Account information. You must notify us immediately
            of any errors or discrepancies in your Payment Method information.</p>
          <p>By providing Payment Method information through the Website and authorizing payments with the Payment
            Method, You represent, warrant, and covenant that: (a) You are legally authorized to provide such
            information; (b) You are legally authorized to make payments using the Payment Method(s); (c) if You are an
            employee or agent of a company or person that owns the Payment Method, that User is authorized by the
            company or person to use the Payment Method to make payments on Elite Home Warranty; and (d) such actions do
            not violate the terms and conditions applicable to User’s use of such Payment Method(s) or applicable law.
            When a User authorizes a payment using a Payment Method via the Website, User represents and warrants that
            there are suficient funds or credit available to complete the payment using the designated Payment Method.
          </p>
          <p>Because the use of any Payment Method may be limited by applicable law or by written agreement with your
            financial institution, Elite Home Warranty is not liable to any User if Elite Home Warranty does not
            complete a transaction as a result of any such limit, or if a financial institution fails to honor any
            credit or debit to or from an account associated with such Payment Method. Elite Home Warranty will make
            commercially reasonable e orts to work with any such a ected Users to resolve such transactions in a manner
            consistent with these Terms.</p>
        </li>
        <li>
          <h3><span>Electronic Fund Transfers (“EFTs”) and Account Balances</span></h3>
          <p>By creating an Elite Home Warranty Account and initiating bank deposits or withdrawals (i.e., EFTs), you
            agree to the Terms of Service and Privacy Policy of our financial software provider, Sila Inc. (together,
            the “Sila ToS”). You must comply with the Sila ToS when creating or using your Elite Home Warranty Account.
            The Sila ToS may be modified from time to time, and the governing version is incorporated by reference into
            these Terms of Service. Any term not defined in this [paragraph, section, or addendum] but defined in the
            Sila ToS assumes the meaning as defined in the Sila ToS. IT IS YOUR RESPONSIBILITY TO READ AND UNDERSTAND
            THE SILA ToS BECAUSE IT CONTAINS TERMS AND CONDITIONS CONCERNING YOUR ELITE HOME WARRANTY ACCOUNT, INCLUDING
            BUT NOT LIMITED TO LIMITATIONS, REVERSAL, AND ARBITRATION PROVISIONS, AND YOUR RELEVANT RIGHTS AND
            LIABILITIES.
          </p>
        </li>
        <li class="listnumber">
          <h3><span>THIRD-PARTY CONTENT, ADVERTISEMENTS AND PROMOTIONS</span></h3>
          <p>The Website or Services may contain links to third-party websites, products, or services, which may be
            posted by advertisers, our a liates, our partners, or other users (“Third-Party Content”). Third-Party
            Content is not under our control, and we are not responsible for any of their websites, products, or
            services. Your use of Third-Party Content is at your own risk and you should make any investigation you feel
            necessary before proceeding with any transaction in connection with such Third-Party Content.</p>
          <p>The Website may also contain sponsored Third-Party Content or advertisements. The type, degree, and
            targeting of advertisements are subject to change, and you acknowledge and agree that we may place
            advertisements in connection with the display of any content or information on the Services, including your
            User Contributions.</p>
        </li>
        <li class="listnumber">
          <h3><span>WARRANTY DISCLAIMER</span></h3>
          <p>WE PROVIDE THIS WEBSITE AND ITS CONTENT "AS IS" AND WITHOUT ANY REPRESENTATION OR WARRANTY, EXPRESS,
            IMPLIED, OR STATUTORY. WE SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS
            FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, WE DO NOT REPRESENT OR
            WARRANT THAT THIS WEBSITE WILL BE ACCESSIBLE WITHOUT INTERRUPTION OR THAT THIS WEBSITE, ANY CONTENT FROM
            THIS WEBSITE, OR THE SERVER THAT MAKES THIS WEBSITE AVAILABLE ARE FREE FROM ERRORS, DEFECTS, DESIGN FLAWS,
            OMISSIONS, VIRUSES, OR OTHER HARMFUL COMPONENTS. YOUR USE OF THIS WEBSITE IS AT YOUR OWN RISK. SOME STATES
            DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, IN WHICH CASE PORTIONS OF THIS DISCLAIMER MAY NOT APPLY
            TO YOU.</p>
        </li>
        <li class="listnumber">
          <h3><span>LIMITATION OF LIABILITY</span></h3>
          <p>IN NO EVENT WILL WE BE LIABLE, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE,
            PASSIVE, OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY, OR OTHER THEORY, TO YOU OR ANY OTHER PERSON FOR
            ANY DAMAGES (INCLUDING, WITHOUT LIMITATION, ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE,
            OR CONSEQUENTIAL DAMAGES), ARISING OUT OF OR IN CONNECTION WITH ANY USE OF, THE INABILITY TO USE, OR THE
            RESULTS OF USE OF THE SERVICES, INCLUDING THE MOBILE APPLICATION, WEBSITE OR ITS CONTENT, EVEN IF WE HAVE
            BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS PROHIBIT THE EXCLUSION OR LIMITATION OF
            LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN WHICH CASE PORTIONS OF THIS LIMITATION MAY NOT APPLY
            TO YOU. IN NO EVENT WILL WE BE LIABLE OR

            RESPONSIBLE FOR ANY ERRORS OR OMISSIONS IN THE CONTENT OF THIS WEBSITE, INCLUDING, WITHOUT LIMITATION,
            ERRORS IN PRICING OR AVAILABILITY OF SERVICES AND PRODUCTS, OR DAMAGES THAT MAY RESULT FROM
            MISREPRESENTATION OF AGE BY A USER OF THIS WEBSITE.</p>
          <p>
            YOU AGREE THAT ANY CAUSE OF ACTION THAT YOU MAY HAVE ARISING OUT OF OR RELATED TO THE SITE OR SERVICES MUST
            COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS
            PERMANENTLY BARRED.</p>
        </li>
        <li class="listnumber">
          <h3><span>INDEMNIFICATION</span></h3>
          <p>You agree to indemnify and hold Elite Home Warranty, its parents, subsidiaries, a liates, any related
            companies, suppliers, licensors and partners, and the o cers, directors, employees, agents and
            representatives of each of them harmless, including costs, liabilities and legal fees, from any claim or
            demand made by any third party due to or arising out of (i) your access to or use of the Website, (ii) any
            violation of these Terms of Service (including negligent or wrongful conduct) by you, or (iii) the
            infringement by you, or any third party using your account, of any intellectual property or other right of
            any person or entity. In states where the law does not recognize a cap on liability and/or indemnity
            obligations, you agree to hold harmless Elite Home Warranty and be fully responsible for any loss, liability
            and/or legal fees that arise from the violation of the Terms of Service herein.</p>
        </li>
        <li class="nobullet listnumber">
          <h3><span>DISPUTE RESOLUTION</span></h3>
          <ul>
            <li>
              <h5>Initial Dispute Resolution</h5>
              <p>Most disputes can be resolved e ectively without resort to litigation. If a dispute arises between You
                and us, please contact us at <a href="mailto:legal@werelite.com">legal@werelite.com</a> so that we may
                help address your concerns. You
                agree to
                use your best e orts to settle any dispute, claim, question, or disagreement directly through
                consultation with Elite Home Warranty, and good faith negotiations shall be a condition to either party
                initiating arbitration.</p>
            </li>
            <li class="listnumber">
              <h5>Binding Arbitration</h5>
              <p>You and Elite Home Warranty agree that any dispute, claim, or controversy between you and Elite Home
                Warranty arising in connection with or relating in any way to these Agreements or to your relationship
                with Elite Home Warranty as a user of the Service (whether based in contract, tort, statute, fraud,
                misrepresentation, or any other legal theory, and whether the claims arise during or after the
                termination of the Agreements) will be determined by mandatory binding individual (not class)
                arbitration. You and Elite Home Warranty further agree that the arbitrator shall have the exclusive
                power to rule on his or her own jurisdiction, including any objections with respect to the existence,
                scope or validity of the Arbitration Agreement or to the arbitrability of any claim or counterclaim.
                Arbitration is more informal than a lawsuit in court. THERE IS NO JUDGE OR JURY IN ARBITRATION, AND
                COURT REVIEW OF AN ARBITRATION AWARD IS LIMITED. There may be more limited discovery than in court. The
                arbitrator

                must follow this agreement and can award the same damages and relief as a court (including attorney
                fees), except that the arbitrator may not award any relief, including declaratory or injunctive relief,
                bene ting anyone but the parties to the arbitration. This arbitration provision will survive termination
                of the Agreements.</p>
            </li>
            <li class="listnumber">
              <h5>Arbitration Procedures</h5>
              <p>If the parties do not reach an agreed-upon solution within a period
                of thirty (30) days from the time informal dispute resolution is initiated under the Initial Dispute
                Resolution provision above, then either party may initiate binding arbitration as the sole means to
                resolve claims, subject to the terms set forth below. Either party may start arbitration proceedings. A
                party who intends to seek arbitration must rst send a written notice of the dispute to the other, by
                certi ed mail, Federal Express, UPS, or Express Mail (signature required), or in the event that we do
                not have a physical address on le for you, by electronic mail. You can provide notice to Elite Home
                Warranty at: 533 Kings Highway. Second Floor,
                Brooklyn, New York 11223, Attention: Legal Department. The Notice must (1) describe the nature and basis
                of the claim or dispute; and
                (2) set forth the speci c relief sought ("Demand").</p>
              <p>Any arbitration between you and Elite Home Warranty will take place under the Consumer Arbitration
                Rules of the American Arbitration Association (“AAA”) then in force (the “AAA Rules”), as modified by
                this Arbitration Agreement. You and Elite Home Warranty agree that the Federal Arbitration Act applies
                and governs the interpretation and enforcement of this provision (despite the choice of law provision
                above). The AAA Rules, as well as instructions on how to file an arbitration proceeding with the AAA,
                appear at adr.org, or you may call the AAA at 1-800-778-7879.</p>
              <p>
                Any arbitration hearings will take place in the State of New York, provided that if the claim is for
                $25,000 or less, you may choose whether the arbitration will be conducted (1) solely on the basis of
                documents submitted to the arbitrator; (2) through a non- appearance based telephonic hearing; or (3) by
                an in-person
                hearing as established by the AAA Rules in the State of New York. If you choose to file an arbitration
                proceeding and you are required to pay a filling fee, Elite Home Warranty will reimburse you for that
                Filling fee, unless your claim is for greater than US $10,000, in which case you will be responsible for
                the ling fee. Elite Home Warranty will pay any arbitration fees required by AAA rules or court order.
                Regardless of the manner in which the arbitration is conducted, the arbitrator shall issue a reasoned
                written decision su cient to explain the essential findings and conclusions on which the decision and
                award, if any, are based. The arbitrator may make rulings and resolve disputes as to the payment and
                reimbursement of fees or expenses at any time during the proceeding and upon request from either party
                made within 14 days of the arbitrator’s ruling on the merits.
              </p>
            </li>
            <li class="listnumber">
              <h5>Class Action Waiver</h5>
              <p>The parties further agree that the arbitration shall be conducted in

                their individual capacities only and not as a class action or other representative action, and the
                parties expressly waive their right to le a class action or seek relief on a class basis. YOU AND ELITE
                HOME WARRANTY AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL
                CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. If
                a court decides that applicable law precludes enforcement of any of this paragraph’s limitations as to a
                particular claim for relief, then that claim (and only that claim) must be severed from the arbitration
                and may be brought in court.</p>
            </li>
          </ul>
        </li>
        <li class="listnumber">
          <h3><span>GOVERNING LAW</span></h3>
          <p>These Terms of Service and any claim arising out of these Terms will be governed by and construed in
            accordance with the laws of the State of Delaware.</p>
        </li>
        <li class="listnumber">
          <h3><span>SURVIVAL</span></h3>
          <p>After this Terms of Service terminates, the terms of this agreement that expressly or by their nature
            contemplate performance after termination or expiration will survive and continue in full force and e ect.
            For example, the provisions protecting intellectual property, indemni cation, payment of fees, and setting
            forth limitations of liability each, by their nature, contemplate performance or observance after this Terms
            of Service terminates. The Arbitration and Class Action Waiver shall also survive any termination of your
            Account or Services. Without limiting any other provisions of the Terms of Service, the termination of these
            Terms for any reason will not release you from any obligations incurred prior to termination of the Terms or
            that thereafter may accrue in respect of any act or omission prior to such termination.</p>
        </li>
        <li class="listnumber">
          <h3><span>ASSIGNABILITY</span></h3>
          <p>You may not assign the Terms of Service, or any of its rights or obligations hereunder, without Elite Home
            Warranty’s prior written consent in the form of a written instrument signed by a duly authorized
            representative of Elite Home Warranty. Elite Home Warranty may freely assign this Terms of Service without
            User’s consent. Any attempted assignment or transfer in violation of this subsection will be null and void.
            Subject to the foregoing restrictions, the Terms of Service are binding upon and will inure to the benefit
            of
            the successors, heirs, and permitted assigns of the parties.</p>
        </li>
        <li class="listnumber">
          <h3><span>WAIVER AND SEVERABILITY</span></h3>
          <p>No waiver by Elite Home Warranty of any term or condition set out in these Terms of Service shall be deemed
            a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any
            failure of Elite Home Warranty to assert a right or provision under these Terms of Service shall not
            constitute a waiver of such right or provision.</p>
          <p>If any provision of these Terms of Service is held by a court or other tribunal of competent jurisdiction
            to be invalid, illegal, or

            unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that
            the remaining provisions of the Terms of Service will continue in full force and e ect.</p>
        </li>
        <li class="listnumber">
          <h3><span>ACCESS OF THE SITE OUTSIDE THE UNITED STATES</span></h3>
          <p>Given the global nature of the Internet, you agree to comply with all local rules, including, without
            limitation, rules about the Internet, data, email, privacy, copyright and trademark infringement.
            Additionally, you agree to comply with all applicable laws regarding the transmission of technical data
            exported from the United States or the country in which you reside.</p>
          <p>In order to access or use the Website or Website Services, you must and hereby represent that you are not:
            (a) a citizen or resident of a geographic area in which access to or use of the Website or Website Services
            is prohibited by applicable law,
            decree, regulation, treaty, or administrative act; (b) a citizen or resident of, or located in, a geographic
            area that is subject to U.S.
            or other sovereign country sanctions or embargoes; or (c) an individual, or an individual employed by or
            associated with an entity, identi ed on the U.S. Department of Commerce Denied Persons or Entity List, the
            U.S. Department of Treasury Specially Designated Nationals or Blocked Persons Lists, or the U.S. Department
            of State Debarred Parties List or otherwise ineligible to receive items subject to U.S. export control laws
            and regulations or other economic sanction rules of any sovereign nation. You agree that if your country of
            residence or other circumstances change such that the above representations are no longer accurate, that you
            will immediately cease using the Website and Website Services and your license to use the Website or Website
            Services will be immediately revoked.</p>
        </li>
        <li class="listnumber">
          <h3><span>CONSENT TO USE ELECTRONIC RECORDS</span></h3>
          <p>In connection with the Terms of Service, you may be entitled to receive certain records from Elite Home
            Warranty or our A liates, such as contracts, notices, and communications, in writing. To facilitate your use
            of the Website and the Website Services, you give us permission to provide these records to you
            electronically
            instead of in paper form.</p>
        </li>
        <li class="listnumber">
          <h3><span>ENTIRE AGREEMENT</span></h3>
          <p>This Terms of Service, constitute the sole and entire agreement between you and Elite Home Warranty and
            supersedes all prior and contemporaneous understandings, agreements, representations, and warranties, both
            written and oral, to the extent they relate in any way to the Website and Services.</p>
        </li>
        <li class="listnumber">
          <h3><span>COMPANY ADDRESS</span></h3>
          <p style="margin-bottom: 0px;">Elite Home Warranty </p>
          <p style="margin-bottom: 0px;">533 Kings Highway. Second Floor.</p>
          <p style="margin-bottom: 0px;">Brooklyn, New York 11223</p>
        </li>
      </ol>
    </div>
  </div>
</div>
<!-- <div class="landingiconsec">
  <div class="container">
    <div class="landingiconsecin">
      <div class="iniconsec logosec">
        <div class="logobg">
          <a class="footlogo">

            <img src="assets/images/logofoot.png" alt="" data-aos="flip-left" data-aos-duration="1500" />

          </a>
        </div>
      </div>

      <div class="iniconsec iniconsecicon">
        <a (click)="scrollToDiv('#tabcon1', 'csp')" data-aos="fade-right" data-aos-duration="">
          <span class="borderin" (click)="scrollToDiv('#tabcon1', 'csp')">
            <img src="assets/images/contact-icon3.png" alt="" />
            <span>Certified </span><span>Service </span><span>Providers </span>
          </span>
        </a>
        <a (click)="scrollToDiv('#tabcon2', 'rep')" data-aos="fade-right" data-aos-duration="">
          <span class="borderin" (click)="scrollToDiv('#tabcon2', 'rep')"> <img src="assets/images/contact-icon2.png"
              alt="" />
            <span>REAL </span><span>ESTATE </span><span>PROFESSIONALS </span></span>
        </a>

        <a (click)="scrollToDiv('#tabcon3', 'title_agencies')" data-aos="fade-right" data-aos-duration="">
          <span class="borderin" (click)="scrollToDiv('#tabcon3', 'title_agencies')"> <img
              src="assets/images/contact-icon1.png" alt="" />
            <span>Title </span><span>Agencies </span></span>
        </a>
        <a data-aos="fade-right" data-aos-duration="">
          <span class="borderin"> <img src="assets/images/contact-icon4.png" alt="" />
            <span>Homeowners </span></span>
        </a>
        <a (click)="scrollToDiv('#tabcon4', 'vendors')" data-aos="fade-right" data-aos-duration="">
          <span class="borderin" (click)="scrollToDiv('#tabcon4', 'vendors')"> <img
              src="assets/images/contact-icon5.png" alt="" />
            <span>Suppliers </span></span>
        </a>
        <a (click)="scrollToDiv('#tabcon5', 'affiliates')" data-aos="fade-right" data-aos-duration="">
          <span class="borderin" (click)="scrollToDiv('#tabcon5', 'affiliates')"> <img
              src="assets/images/contact-icon6.png" alt="" />
            <span>AFFILIATES </span></span>
        </a>
      </div>


      <div class="iniconsec greysec">
        <div class="navfoot">
          <h4>Home Warranty</h4>
          <ul>
            <li>
              <a>Schedule Service</a>
            </li>

            <li>
              <a> Member Login</a>
            </li>
            <li>
              <a>Plans and Pricing</a>
            </li>
            <li>
              <a>Homeowners</a>
            </li>
            <li>
              <a>Why Elite</a>
            </li>
            <li>
              <a>Join Our Club</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="iniconsec greysec">
        <div class="navfoot">
          <h4>Work With Us</h4>
          <ul>
            <li>
              <a (click)="scrollToDiv('#tabcon1', 'csp')">Certified Service Providers</a>
            </li>

            <li>
              <a (click)="scrollToDiv('#tabcon2', 'rep')">Real Estate Professionals</a>
            </li>
            <li>
              <a>Buyers and Sellers</a>
            </li>
            <li>
              <a (click)="scrollToDiv('#tabcon3', 'title_agencies')">Title Agencies</a>
            </li>
            <li>
              <a (click)="scrollToDiv('#tabcon4', 'vendors')">Suppliers</a>
            </li>
            <li>
              <a (click)="scrollToDiv('#tabcon5', 'affiliates')">Affiliates</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="iniconsec greysec sidesec">
        <div class="navfoot">
          <h4>Education Center</h4>
          <ul>
            <li>
              <a>Home Warranty Basics</a>
            </li>

            <li>
              <a>Maintenance and Repairs</a>
            </li>
            <li>
              <a>Questions and Answers</a>
            </li>
            <li>
              <a>Homeowner Hub</a>
            </li>
            <li>
              <a>Sample Contract</a>
            </li>
            <li>
              <a>Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
