<div class="inner-container commonpage">
  <div class="container">
    <div class="homeowner__header">
      <h2>Why Homeowners<br> Choose Elite Home<br> Warranty</h2>
    </div>
    <div class="homeowner__content">
      <div></div>
      <p>Elite Home Warranty is a service-oriented
        company that provides home warranty
        service agreements for homeowners
        nationwide</p>
    </div>
    <div class="homeowner__content">
      <div></div>
      <p class="custom__paragraph"> Read on to learn more about what you can get with
        an <span>Elite Home Warranty plan</span></p>
    </div>

    <div class="homeowner__header mt-5">
      <h3 class="w-60">Home Warranty Coverage</h3>
    </div>
    <div class="homeowner__content">
      <div class="w-60" style="background: #dae2d2;">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Home warranties are not the same as....
              </mat-panel-title>
           
            </mat-expansion-panel-header>
              <p>
                Home warranties are not the same as homeowners
                insurance. Insurance protects you from natural disasters,
                fires, floods and similar catastrophes. The more likely
                catastrophe is that an appliance or system in your home will
                break down. Home warranties aren’t required but they are
                considered essential by many homeowners
              </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Home warranties are not the same as....
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            <p>
              Home warranties are not the same as homeowners
              insurance. Insurance protects you from natural disasters,
              fires, floods and similar catastrophes. The more likely
              catastrophe is that an appliance or system in your home will
              break down. Home warranties aren’t required but they are
              considered essential by many homeowners
            </p>
          </mat-expansion-panel>
        </mat-accordion>
        

      </div>
    </div>

    <div class="homeowner__header mt-5">
      <h3 class="w-60">Elite Home Warranty:
        On Your Side</h3>
    </div>
    <div class="homeowner__content ">
      
      <p class="w-60 ml-auto ">At Elite Home Warranty, we provide plans and pricing
        models that are crystal clear. You don’t need a law degree
        to navigate our contractual terms and conditions.
        Instead, we lay it all out, operating in full transparency.</p>

    </div>
    <div class="homeowner__header ">

        <h4 class="w-70 ml-auto border-bottm ">With us, you will get:</h4>
    </div>
    <div class="homeowner__content"> 
        <ol>
          <li>
            <p>Services 24 Hours 

              a day - 7 days a week</p>
          </li>

          <li>
            <p>Simplified claims
              filing process
              </p>
          </li>


          <li>
            <p>Transparent
              coverage</p>
          </li>

          <li>
            <p>Licensed service
              providers and
              technicians</p>
          </li>


          <li>
            <p>Fully customizable
              plans</p>
          </li>

          <li>
            <p>No age restrictions
              on covered items</p>
          </li>

          <li>
            <p>The ability to increase
              caps on covered items</p>
          </li>

          <li>
            <p>The ability to choose
              your own technician</p>
          </li>
        </ol>
    </div>
    <div class="homeowner__content justify-content-start">
      <p class="w-60">Elite Home Warranty provides numerous
        benefits to homeowners. We want you to get
        all of the pros and none of the cons of this
        agreement
        </p>
      </div>

      <div class="homeowner__header ">

        <h4 class="w-70 ml-auto border-bottm ">You can choose from:</h4>
    </div>
    <div class="plansSec w-70 ml-auto">
      <div class="container flex center column">
   
        <!-- <ul>
          <li>
            <h3><span>Best Value</span></h3>
            <div class="imageContainer flex justify middle">
              <img src="assets/images/appliance62.jpg" alt="" style="width: 100%;" class="mobnone" />
              <img src="assets/images/appliance6-mobile.jpg" alt="" style="width: 100%;" class="mobon" />
    
            </div>
            <a routerLink=""><span>Elite Complete</span></a>
          </li>
          <li>
            <div class="imageContainer flex justify middle">
              <img src="assets/images/appliance1.jpg" alt="" />
            </div>
            <a routerLink=""><span>Elite Appliances</span></a>
          </li>
          <li>
            <div class="imageContainer flex justify middle">
              <img src="assets/images/appliance2.jpg" alt="" class="mobnone" />
              <img src="assets/images/appliance2mobile.jpg" alt="" class="mobon" />
            </div>
            <a routerLink=""><span>Elite Systems</span></a>
          </li>
          <li>
            <h3><span>More Personalized</span></h3>
            <div class="imageContainer flex justify middle width33">
              <img src="assets/images/appliance3.jpg" alt="" class="mobnone" />
              <img src="assets/images/appliance5.jpg" alt="" class="mobnone secondimg" />
              <img src="assets/images/appliance5mobile.jpg" alt="" class="mobon secondimg" />
    
            </div>
            <a routerLink=""><span>Customize your own</span></a>
          </li>
        </ul> -->
    
        <ul>
          <li>
    
            <div class="planimgcont planimgcont-big cp3 cpblank" style="background-image: url(assets/images/cpblank.png) ;">
              <img src="assets/images/cp1-img.png" alt="" width="100%" class="desk-none" />
              <img src="assets/images/cp1-desk.png" alt="" width="100%" class="mob-none" />
              <span class="topdesc">
                Protecting Your Home
                <br> Major Appliances.
              </span>
              <h4 class="nameimg">
                <span><strong> Elite Appliances Plan </strong></span>
              </h4>
              <a routerlink="" href="#/"><span>LEARN MORE</span></a>
            </div>
          </li>
          <li>
    
            <div class="planimgcont planimgcont-big cp3 cpblank" style="background-image: url(assets/images/cpblank.png) ;">
              <img src="assets/images/cp2-img.png" alt="" width="100%" class="desk-none" />
              <img src="assets/images/cp2-desk.png" alt="" width="100%" class="mob-none" />
              <span class="topdesc">
                Protecting Your Home
                <br> Major Systems.
              </span>
              <h4 class="nameimg">
                <span> <strong> Elite Systems Plan </strong> </span>
              </h4>
              <a routerlink="" href="#/"><span>LEARN MORE</span></a>
            </div>
    
    
          </li>
          <li>
            <div class="planimgcont planimgcont-big cp3" style="background-image: url(assets/images/cp3-bg.png);">
              <img src="assets/images/cp3-img.png" alt="" width="100%" class="desk" />
              <img src="assets/images/cp3-img-mob.png" alt="" width="100%" class="mob" />
              <!-- <span class="topsectxt"><span> BEST VALUE </span></span> -->
              <span class="topdesc">
                Protecting Your Home
                <br> Major Systems, Appliances and More.
              </span>
              <h4 class="nameimg">
                <span> <strong> Elite Complete Plan </strong></span>
              </h4>
              <a routerlink="" href="#/"><span>LEARN MORE</span></a>
            </div>
          </li>
    
    
          <li>
    
            <div class="planimgcont planimgcont-big cp3 cpblank" style="background-image: url(assets/images/cpblank.png) ;">
              <img src="assets/images/cp4-img.png" alt="" width="100%" class="desk-none" />
              <img src="assets/images/cp4-desk.png" alt="" width="100%" class="mob-none" />
              <span class="topdesc">
                Protecting Your Home
                <br> Major Electronics.
              </span>
              <h4 class="nameimg">
                <span><strong> Elite Electronics Plan </strong></span>
              </h4>
              <a routerlink="" href="#/"><span>LEARN MORE</span></a>
            </div>
          </li>
          <li>
    
            <div class="planimgcont planimgcont-big cp3 cpblank" style="background-image: url(assets/images/cpblank.png) ;">
              <img src="assets/images/cp5-img.png" alt="" width="100%" class="desk" />
              <img src="assets/images/cp5-img-mob.png" alt="" width="100%" class="mob" />
              <span class="topdesc">
                Protecting Your Home
                <br> Sewer System and Water Line.
              </span>
              <h4 class="nameimg">
                <span><strong> Elite Service Line Plan </strong></span>
              </h4>
              <a routerlink="" href="#/"><span>LEARN MORE</span></a>
            </div>
    
    
          </li>
    
    
          <li>
            <div class="planimgcont planimgcont-big cp6" style="background-image: url(assets/images/cp6-bg.png);">
              <img src="assets/images/cp6-img.png" alt="" width="100%" class="desk" />
              <img src="assets/images/cp6-img-mob.png" alt="" width="100%" class="mob" />
              <!-- <span class="topsectxt"><span> MORE Personalized </span></span> -->
              <span class="topdesc">
                Select the items you wish to cover.
    
              </span>
              <h4 class="nameimg">
                <span><strong> Customize Your Own Plan </strong></span>
              </h4>
              <a routerlink="" href="#/"><span>LEARN MORE</span></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <div style="clear: both;"></div>

    <div  class="homeowner__content justify-content-start"><p  class="w-60">Contact our sales department to learn
      more or get a quote for home warranty
      service agreements in your area.
      </p>
    </div>

    <div  class="homeowner__content w-100 mb-5"><div ></div><p  class="custom__paragraph">Fill out the form below to receive a <span >FREE QUOTE</span></p></div>

<div class="homeowner__content w-100">
    <div class="w-50 m-auto">
      <form>
        <div class="abt-frm">
          <input type="text" placeholder="Enter Full Name">  
        </div>

        <div class="abt-frm">
          <input type="text" placeholder="Enter Full Number">  
        </div>

        <div class="abt-frm">
          <input type="text" placeholder="Enter Full Address">  
        </div>  

        <div class="abt-frmin ">
          <div class="actionControl float-right">
            <button  class="submit-btn float-left" type="button"><span >CONTINUE</span></button>
            </div>
        </div>
      </form>
    </div>
  </div>
<div class="ps-section">
  <div class="ps">
    P.S
  </div>
  <div class="w-100">
    <h2>Building the future of
      home warranties together</h2>
  </div>
</div>

  </div>
</div>



