<div class="innerpage">
    <div class="container-fluid">
     
        <div class="articlehead">
            <button class="d-block d-md-none titlebtn" (click)="clickEvent()">Select Titles <img src="assets/images/downrose.png" alt="" width="10"></button>
            
            <ul [ngClass]="status ? 'open' : ''">
                <li>
                    <a class="active">Title 1</a>
                </li>
                <li>
                    <a>Title 2</a>
                </li>
                <li>
                    <a>Title 3</a>
                </li>
                <li>
                    <a>Title 4</a>
                </li>
                <li>
                    <a>Title 5</a>
                </li>
            </ul>

            <div class="search-sec">
                <input type="text" placeholder="SEARCH HOMEOWNER HUB">
            </div>
        </div>

        <div class="articlebody">
            <h2 class="text-center mt-5 mb-5">HOMEOWNER HUB</h2>
            

            <div class="article-box ">
              
                <div class="row justify-content-end align-items-center">
                    <div class="col-md-5 order-md-12">
                        <div class="atimg rightsec">
                            <img src="assets/images/imagespace1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="attext text-left">
                           <h3 class="sorthead">Lorem Ipsum Dolor Sit Amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor's magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cilium dolore eu fugiat nulls pariatur. Excepteur sint occaecat cupidatat non proident, cunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor's magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cilium dolore eu fugiat nulls pariatur. Excepteur sint occaecat cupidatat non proident, cunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>

            
           <div class="latestart">
               <div class="container-fluid">
                <h3 class="sorthead">LATEST ARTICLES</h3>
                   <div class="row">
                       <div class="col-lg-8 col-md-6">
                        
                        <div class="itemlatest">
                            <div class="imglatst">
                                <img src="assets/images/imagespace.png" alt="">
                            </div>
                            <div class="txtlatst">
                               <h4>APPLIANCE</h4>
                               <h3>Lorem Ipsum Dolor Sit Amet</h3>
                               <p>Lorem ipsum dolor sit Ernst, consectetur adipiacing alit, sad do eiusmod tempor incididunt ut labors et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullemco laboris nisi ut aliquip ex es commodo conseguat.Cluis auto irons dolor in reprehenderit in voluptate velit esse cilium dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupids.et non proident, aunt in seine qui of fide deserunt mollit anim id est laborum.</p>
                              

                                <a class="float-right"><img src="assets/images/readartcl.png" alt=""></a>
                            </div>
                        </div>
                        <div class="itemlatest">
                            <div class="imglatst">
                                <img src="assets/images/imagespace.png" alt="">
                            </div>
                            <div class="txtlatst">
                               <h4>APPLIANCE</h4>
                               <h3>Lorem Ipsum Dolor Sit Amet</h3>
                               <p>Lorem ipsum dolor sit Ernst, consectetur adipiacing alit, sad do eiusmod tempor incididunt ut labors et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullemco laboris nisi ut aliquip ex es commodo conseguat.Cluis auto irons dolor in reprehenderit in voluptate velit esse cilium dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupids.et non proident, aunt in seine qui of fide deserunt mollit anim id est laborum.</p>
                               

                                <a class="float-right"><img src="assets/images/readartcl.png" alt=""></a>
                            </div>
                        </div>

                        <div class="itemlatest">
                            <div class="imglatst">
                                <img src="assets/images/imagespace.png" alt="">
                            </div>
                            <div class="txtlatst">
                               <h4>APPLIANCE</h4>
                               <h3>Lorem Ipsum Dolor Sit Amet</h3>
                               <p>Lorem ipsum dolor sit Ernst, consectetur adipiacing alit, sad do eiusmod tempor incididunt ut labors et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullemco laboris nisi ut aliquip ex es commodo conseguat.Cluis auto irons dolor in reprehenderit in voluptate velit esse cilium dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupids.et non proident, aunt in seine qui of fide deserunt mollit anim id est laborum.</p>
                              

                                <a class="float-right"><img src="assets/images/readartcl.png" alt=""></a>
                            </div>
                        </div>


                        <div class="itemlatest">
                            <div class="imglatst">
                                <img src="assets/images/imagespace.png" alt="">
                            </div>
                            <div class="txtlatst">
                               <h4>APPLIANCE</h4>
                               <h3>Lorem Ipsum Dolor Sit Amet</h3>
                               <p>Lorem ipsum dolor sit Ernst, consectetur adipiacing alit, sad do eiusmod tempor incididunt ut labors et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullemco laboris nisi ut aliquip ex es commodo conseguat.Cluis auto irons dolor in reprehenderit in voluptate velit esse cilium dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupids.et non proident, aunt in seine qui of fide deserunt mollit anim id est laborum.</p>
                              

                                <a class="float-right"><img src="assets/images/readartcl.png" alt=""></a>
                            </div>
                        </div>
                       </div>
                       <div class="col-lg-4 col-md-6 sidebarsec ml-auto" style="max-width: 600px;">
                        <h3 class="sorthead text-center">Most Popular</h3>
                        <div class="itemlatest">
                            <div class="imglatst">
                                <img src="assets/images/imagespace2.png" alt="" width="100%">
                            </div>
                            <div class="txtlatst">
                               <h4>APPLIANCE</h4>
                               <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                <a class="float-right"><img src="assets/images/readartcl1.png" alt=""></a>
                            </div>
                        </div>


                        <div class="itemlatest">
                            <div class="imglatst">
                                <img src="assets/images/imagespace2.png" alt="" width="100%">
                            </div>
                            <div class="txtlatst">
                               <h4>APPLIANCE</h4>
                               <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                <a class="float-right"><img src="assets/images/readartcl1.png" alt=""></a>
                            </div>
                        </div>

                        <div class="itemlatest">
                            <div class="imglatst">
                                <img src="assets/images/imagespace2.png" alt="" width="100%">
                            </div>
                            <div class="txtlatst">
                               <h4>APPLIANCE</h4>
                               <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                <a class="float-right"><img src="assets/images/readartcl1.png" alt=""></a>
                            </div>
                        </div>

                        <div class="itemlatest">
                            <div class="imglatst">
                                <img src="assets/images/imagespace2.png" alt="" width="100%">
                            </div>
                            <div class="txtlatst">
                               <h4>APPLIANCE</h4>
                               <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                <a class="float-right"><img src="assets/images/readartcl1.png" alt=""></a>
                            </div>
                        </div>

                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>
