<!-- <div class="top-sec" style="background: url(./assets/images/landing-ban.jpg) no-repeat center center;">
  <div class="container">
    <div class="topsec-content">
      <h1>{{privacyPolicyData?.title}}</h1>
    </div>
    <div class="topsec-slider">
    </div>
  </div>
</div> -->
<div class="inner-container">
  <div class="container ">
    <div class="headersec">
      <p>Elite Home Warranty</p>
      <h3>Privacy Statement </h3>
    </div>
    <div class="contentHeader">
      <p>Last Modified: <span>October 1, 2020</span></p>
    </div>
    <div class="content">
      <h3>INTRODUCTION</h3>
      <p>
        Elite Home Warranty, LLC (“<span>Elite Home Warranty</span>”,”<span>we”</span>, ” <span>our”</span>, or
        “<span>us”</span>) respects your
        privacy and are committed to protecting it through our compliance with this Privacy Statement
        (“<span>Policy”</span>).
      </p>

      <p>
        This Policy describes our practices for collecting, using, maintaining, protecting, and disclosing your
        information through <a>https://www.werelite.com</a> (our “<span>Website”</span>) and our mobile application
        (together
        with the
        Website, the “<span>Service”</span> of “<span>Services”</span>).
      </p>
      <p>
        At Elite Home Warranty, we provide more than just peace of mind. Obtain absolute transparency and a clear,
        customized plan with coverage that meets your needs. We deliver the ultimate service that exceeds
        your expectations.A core element of our mission is our commitment to protect your personal information and to be
        transparent about the data we collect about you, how it is used, and with whom it is shared.
      </p>

      <p>
        Please read this Policy carefully to understand our policies and practices regarding your information and how we
        will treat it. If you do not agree with our terms, your choice is not to use our Services. By accessing or using
        this Website, you agree to this Privacy Statement . This Policy may change from time to time (see <span>Changes
          to
          Our
          Privacy Statement </span> ). Your continued access of our Website or use of our Services after we make changes
        is
        deemed to
        be acceptance of those changes, so please check the Last Modified Date at the top of this Policy, to ensure that
        you are viewing the most current version of this Policy.
      </p>

      <h3>CHILDREN’S PRIVACY</h3>
      <p>The Services is general audience and intended for user 18 and older. We do not knowingly collect Personal
        Information from anyone younger than age 18.</p>

      <h3>INFORMATION WE COLLECT ABOUT YOU AND HOW WE COLLECT IT</h3>
      <p>We collect several types of information from and about users of our Services, such as name and contact
        information when you sign up for or order our products and Services,
        or information related to your appliances when you are searching for a home warranty plan. Other type of
        information we collect is information related to how you use our platform, which help us improve our Services.
      </p>

      <h3>Information You Provide to Us</h3>
      <p>The categories of information we collect are:</p>

      <ol>
        <li>
          <h4>Personal Information:</h4>
          <p>In the course of registering on our Website, filling out an
            home warranty application, and using out Services, we may require or otherwise collect information that
            identifies you as a specific individual and can be used to contact or identify you (“<span>Personal
              Information</span>”).
            Examples of Personal Information include your name, gender, email address, personal address, billing
            address, and phone number.</p>
        </li>
        <li>
          <h4>Commercial Information:</h4>
          <p>When you make an inquiry or request a quote regarding a home warranty plan, we may collect your contact
            information, including your telephone number, and information related to your purchases and transaction
            history. This means Elite Home Warranty may contact you, in person or by recorded message, by e-mail,
            telephone or mobile telephone number (including use of automated dialing equipment), text (SMS) message, or
            any other means of communication that your wireless or other telecommunications device may be capable of
            receiving.</p>
        </li>
        <li>
          <h4>Professional Information:</h4>
          <p> If you are a home warranty-related technician or other professional, we may ask for your title, company
            name, professional affiliations, and professional contact information.
            Non-Identifying Information: We also may collect non-identifying or non-personal information, such as zip
            codes,demographicdata, time zone, publicly available data, informationregarding youruseoftheService,
            andgeneral home-warranty related data (“<span>Non-Identifying Information</span>”).</p>
        </li>
        <li>
          <h4>Payment Information:</h4>
          <p>We may offer various home warranty plans and related services, such as sourcing repair technicians, for a
            fee. If you choose to purchase such features, we will also collect your payment information, such as credit
            card, billing address, and other financial information necessary to complete your transaction. By submitting
            your
            Payment Information, you consent to our providing your Payment Information to those Authorized Third-Party
            Service Providers as are reasonably necessary to support and process your transactions as well as your
            credit card issuer and banking institution.</p>
        </li>
        <li>
          <h4>
            Electronic Fund Transfers (“EFTs”) and Account Balances
          </h4>
          <p>Elite Home Warranty has partnered with financial services software company Sila Inc. to offer you EFTs.
            When
            you create an Elite Home Warranty Account, you might also be prompted to sign up for a Sila Account. You
            authorize Elite Home Warranty to share your identity and banking information with Sila Inc. to open and
            support your Elite Home Warranty Account. It is your responsibility to make sure the data you provide us is
            accurate and complete. You must comply with Sila Inc.’s privacy policy (the “Sila Privacy Policy”) when
            creating or using your Elite Home Warranty Account. The Sila Privacy Policy may be modified from time to
            time, and the governing version is incorporated by reference into this Privacy Policy. Any term not defined
            in this [paragraph, section, or addendum] but defined in the Sila Privacy Policy assumes the meaning as
            defined in the Sila Privacy Policy.
          </p>
        </li>
        <li>
          <h4>California Privacy Rights</h4>
          <p>If you are a resident of the State of California, under the California Consumer Privacy Act (CCPA), you
            have the right to request information on how to exercise your disclosure choice options from companies
            conducting business in California. Specifically:</p>
          <p><span>Exercising the right to know.</span>You may request, up to twice in a 12-month period, the following
            information about the personal information we have collected about you during the past 12 months:
        <li>the categories and specific pieces of personal information we have collected about you;</li>
        <li>the categories of sources from which we collected the personal information;</li>
        <li>the business or commercial purpose for which we collected the personal information;</li>
        <li>the categories of third parties with whom we shared the personal information; and</li>
        <li>the categories of personal information about you that we disclosed for a business purpose, and the
          categories of third parties to whom we disclosed that information for a business purpose.</li>
        </p>
        <p><span>Exercising the right to delete.</span>You may request that we delete the personal information we have
          collected from you, subject to certain limitations under applicable law.</p>
        <p><span>Exercising the right to opt-out from a sale.</span>You may request to opt out of any “sale” of your
          personal information that may take place.</p>
        <p><span>Non-discrimination.</span>The CCPA provides that you may not be discriminated against for exercising
          these rights.</p>
        <p>To submit a request to exercise any of the rights described above, you may contact Elite Home Warranty either
          via email to <a href="mailto:legal@werelite.com">legal@werelite.com</a> or contact us via postal mail, proper
          postage prepaid, at:</p>
        <p> Elite Home Warranty, Attn: Your California Privacy Rights</p>
        <p style="margin: 0px;"> 533 Kings Highway. 2nd Floor.</p>
        <p> Brooklyn, New York 11223.</p>
        <p>Please indicate your preference as to how you would like us to respond to your request (i.e., email or postal
          mail).</p>
        <p>All requests sent via postal mail must be labeled “Your California Privacy Rights” on the envelope or
          postcard and clearly stated on the actual request. For all requests, please include your name, street address
          (if you would like a response via postal mail), city, state, and zip code. We may need to verify your identity
          before responding to your request, such as verifying that the email address or contact information from which
          you send the request matches your email address or contact information that we have on file. Authentication
          based on a government-issued and valid identification document may be required. We will not accept requests
          via telephone or fax. We are not responsible for notices that are not labeled or sent properly, or do not have
          complete information.</p>
        </li>
        <li>
          <h4>User Contributions:</h4>
          <p> You may have the ability to interact with parts of our Website. Your feedback is published or displayed on
            public areas of the Website, or transmitted to other users of the Website or third parties (collectively,
            "<span>User Contributions</span>"). Your User Contributions are posted on and transmitted to others at your
            own risk.
            Although you may set certain privacy settings for such information by logging into your account profile,
            please be aware that no security measures are perfect or impenetrable. Additionally, we cannot control the
            actions of other users of the Website with whom you may choose to share your User Contributions. Therefore,
            we cannot and do not guarantee that your User Contributions will not be viewed or accessed by unauthorized
            persons. Use precaution when posting any personal information online. Please review our Terms of Use for
            more information about our user guidelines.</p>
        </li>
      </ol>

      <p>
        When you provide us you provide us with information in connection with a particular activity or otherwise sign
        up for or order our products and Services or provide your contact information to us, including your email
        address or telephone number in connection with that activity, product or service, you agree that such action
        constitutes a purchase or inquiry establishing a business relationship with us. You expressly consent to
        receiving communications from Elite Home Warranty through the information you provided to us You also attest
        that you have the legal authority over any telephone number you provide to us and can provide us with the
        authorization
        to contact you. This means Elite Home Warranty may contact you, in person or by recorded message, by e-mail,
        telephone or mobile telephone number (including use of automated dialing equipment), text (SMS) message, or any
        other means of communication that your wireless or other telecommunications device may be capable of receiving.
        For more information on how to access
        and control your communication preferences, please see <span>YOUR RIGHTS AND CHOICES REGARDING YOUR
          INFORMATION</span>,
        below.
      </p>

      <h3>Information Collected Automatically</h3>
      <p>As you navigate through and interact with our Website, We and our third-party service providers, including
        analytics and third-party content providers, may automatically collect certain information from you whenever you
        access or interact with the Service.</p>
      <ul class="paddingoff">
        <li>
          <h5>Usage Information</h5>
          <p>
            Details of your visits to our Website, including which links you clicked on, content response times,
            location data, logs, and other similar communication data and statistics about your interactions.
          </p>
        </li>
        <li>
          <h5>Device Information</h5>
          <p>
            Details of your visits to our Website, including which links you clicked on, content response times,
            location data, logs, and other similar communication data and statistics about your interactions.
          </p>
        </li>
      </ul>
      <p>We may combine this automatically collected log information with other information we collect about you. We do
        this to improve services we offer you, analytics, and site functionality.</p>

      <h3>Cookies and Other Automatic Data Collection Technologies</h3>
      <p>Elite Home Warranty and its partners use cookies or similar technologies, which store certain information on
        your computer and allows us to, among other things, analyze trends, administer the Website, and to gather
        demographic information about our user base as a whole. The technology used to collect information automatically
        from Elite Home Warranty Users may include the following:</p>

      <ul class="paddingoff">
        <li>
          <h5>Cookies:</h5>
          <p>
            Like many websites, we and our operational partners, affiliates, analytics, and service providers use
            “cookies” to collect information. A cookie is a small data file that
            we transfer to your computer’s hard disk for record-keeping purposes. We use both persistent cookies that
            remain on your computer or similar device (such as to save your registration ID and login password for
            future logins to the Service and to track your compliance with the Elite Home Warranty Terms of Use) and
            session ID cookies, which expire at the end of your browser session (for example, to enable certain features
            of the Service, to better understand how Elite Home Warranty Users interact with the Service and to monitor
            aggregate usage by Elite Home Warranty Users and web traffic routing on the Service). You can control the
            use of cookies at the individual browser level, but if you choose to disable cookies, it may limit your use
            of certain features or functionality of the Service. For further information on cookies and how they are
            used
            for the Service, <br> please visit our Cookie Policy at <a href="https://www.werelite.com/cookie-policy"
              target="_blank"> https://www.werelite.com/cookie-policy</a>
          </p>
        </li>
        <li>
          <h5>Web Beacons:</h5>
          <p>
            We and our operational partners, affiliates, analytics, and service providers may also employ software
            technology known as “web beacons” and/or “tracking tags” to
            help us keep track of what content on our Service is effective and to serve relevant advertising to you. Web
            beacons are small graphics with a unique identifier that may be invisible to you, and which are used to
            track the online activity of Internet users. Web
            beacons are embedded in the web pages you review or email messages you receive. Web beacons or similar
            technologies may be used for a number of purposes, including, without limitation, to count visitors to our
            Service, to monitor how Elite Home Warranty Users navigate the Service, to count how many emails that were
            sent were actually opened, or to count how many particular articles or links were actually
          </p>
        </li>
        <li>
          <h5>Embedded Scripts:</h5>
          <p>
            We and our operational partners, affiliates, analytics, and service providers may also employ software
            technology known as an Embedded Script. An Embedded Script is programming code that is designed to collect
            information about
            your interactions with the Service, such as the links you click on. The code is
            temporarily downloaded onto your computer or other device and is deactivated or deleted when you disconnect
            from the Service.
          </p>
        </li>
      </ul>

      <h3>Information Received from Third Parties</h3>
      <p>We also may receive information about you from third parties. For example, weandourpartners, affiliates
        andserviceprovidersmayuse avariety ofothertechnologies(suchastags)that collect statistical data relating to your
        Website activityforsecurityandfrauddetection purposes.</p>

      <h3>Do Not Track Signal</h3>
      <p>Do Not Track (DNT) is a privacy preference that users can set in some web browsers, allowing
        users to opt out of tracking by websites and online services. We do not honor browser requests not to be tracked
        online (known as “Do Not Track”), but our cookie policy below describes how you
        can opt out of receiving cookies.</p>

      <h3>HOW WE USE YOUR INFORMATION</h3>
      <p>We use information that we collect about you or that you provide to us, including any personal information:</p>

      <ol>
        <li>
          <p>To provide you with an Account on our Website.</p>
        </li>
        <li>
          <p>To deliver, provide, and process payment for a product or Service you have requested.</p>
        </li>
        <li>
          <p>To improve our Services.</p>
        </li>
        <li>
          <p>To address your inquiries.</p>
        </li>
        <li>
          <p>To tailor content we display to you and offer we may present to you, both on the Service and elsewhere
            online.</p>
        </li>
        <li>
          <p>To administer and develop our business relationship with you and, if applicable, the corporation or other
            legal entity you represent.</p>
        </li>
        <li>
          <p>To communicate and promote to you products, services, offers, and events offered by Elite Home Warranty</p>
        </li>
        <li>
          <p>To comply with legal requirements and assist law enforcement.</p>
        </li>
        <li>
          <p>To investigate fraud and to enforce our Terms of Use.</p>
        </li>
        <li>
          <p>To protect the property rights of Elite Home Warranty or a third party.</p>
        </li>
        <li>
          <p>To protect the safety of the public or any person.</p>
        </li>
        <li>
          <p>To stop any activity we may consider to be, or to pose a risk of being, illegal, fraudulent, unethical or a
            legally actionable activity.</p>
        </li>
        <li>
          <p>To identify Elite Home Warranty users.</p>
        </li>
        <li>
          <p>For the purposes disclosed at the time you provide your information, and</p>
        </li>
        <li>
          <p>As otherwise permitted with your consent.</p>
        </li>
      </ol>

      <h3>Legal Bases</h3>
      <p>To process your information as described above, we rely on the following legal bases:</p>
      <ol class="legalbases">
        <li>
          <h4>Contractual Necessity:</h4>
          <p>To provide you with an Account on our Website.</p>
        </li>
        <li>
          <h4>Legitimate Interests:</h4>
          <p>To deliver, provide, and process payment for a product or Service you have requested.</p>
        </li>
        <li>
          <h4>Consent:</h4>
          <p>To improve our Services.</p>
        </li>
      </ol>
      <h3>HOW WE DISCLOSE AND SHARE YOUR INFORMATION</h3>
      <p>We may share information we receive about you as follows or as otherwise described in this Privacy Statement :
      </p>
      <ol>
        <li>
          <p>With our service providers and network partners:</p>
          <ol>
            <li>
              <p>We employ third party companies and individuals to provide Services on our behalf,
                to perform service-related operations(e.g.,without limitation,maintenance services,database mangement,
                web analytics, payment processing, fraud detection and improvement of Elite Home Warranty's features)or
                to assists us in analyzing how our Services used. These third parties may have access to your Personal
                information in order to perform these tasks on our behalf.
              </p>
            </li>
            <li>
              <p>We may share your information with technicians within our network to provide repair and replacement
                services and to honor our services agreements with you.</p>
            </li>
            <li>
              <p>We may share your information with suppliers, real estate professionals, and title agencies to address
                your inquires and process your claims</p>
            </li>
          </ol>
        </li>
        <li>
          <p>For corporate transactions</p>
          <ol>
            <li>
              <p>
                Elite Home Warranty may share information, including Personal Information, with any current or future
                subsidiaries or affliates, primarily for business and operational purposes. we may sell, transfer,or
                otherwise share some or all of our assets, including your Personal Information, in connection with a
                merger, acquisition,reorganization or sale of assets(including, in each case, as part of the
                due-diligence
                process with any potential acquiring entity) or in the event of bankruptcy.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <p>When required by law</p>
          <ol>
            <li>
              <p>Elite Home Warranty will share information with government agencies as required by law in response to
                lawful requested by public authorities,including to meet national
                securityorlawenforcementrequirementand,includingwithoutlimitation,inconnection
                withreportingearnings.Wecooperratwithgovernmentandlawenforcement officials and private partiesto enforce
                and complywith the law.Wewilldisclose information aboutyouto goverment orlawenforcement officials
                officials or private parties aswe,in oursole discretion,belive necessary or appropriate to respond to
                claims and legal process(includingbutnotlimitedosubpoenas),or,attherequestofgovernmenttalauthoritiesor
                other third parties conducting an investigation where we determine in our sole discretion the disclosure
                is necessary to(a)protect the property and rights of Elite Home Warranty or a third party,(b)protect the
                safety of the public or any person, or(c)prevent or stop activity we may consider to be,or pose a risk
                of being,illegal,fraudulent,unethical or legally actionable activity.We may also use Device Identifiers
                to identify Elite Home Warranty Users,and may do so in cooperation with third parties at our discretion.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <p>With your Concent</p>
          <ol>
            <li>
              <p>You may submit personal information to us through a form on the Webskite and consent to receive
                communication from us or our business affliates and non-affiliates based on the information in the form.
              </p>
            </li>
          </ol>
        </li>
      </ol>
      <h3>YOUR RIGHTS AND CHOICES REGARDING YOUR INFORMATION</h3>
      <p>You have several ways to exercise control over your information:</p>
      <ol>
        <li>
          <p>Account Settings: Registered Elite Home Warranty Users may update their choices regarding the types of
            communications you receive from us through your online Account settings.</p>
        </li>
        <li>
          <p>
            E-Mail: You also may opt-out of receiving marketing emails from us by following the opt-out instructions
            provided in those emails. Please note that we reserve the right to send you certain communications relating
            to your account or use of the Service (for example, administrative and service announcements) via email and
            other means and these transactional account messages may be unaffected if you opt-out from receiving
            marketing communications.
          </p>
        </li>
        <li>
          <p>
            Text/Sms Message Consent and Opt-Out: If you choose, you can provide your mobile phone number to receive
            text message alerts to receive product and/or service information, tips or promotions. You agree that by
            providing your mobile phone number you expressly consent to receive automated marketing text messages from
            us to the mobile phone number provided. Consent is not required to purchase goods or services. Message and
            data rates will apply and you should check the rates of your mobile carrier. You can opt out from further
            text marketing communications by texting STOP to the SMS number used by Elite Home Warranty to contact you.
            We may share your mobile phone number with service providers with whom we contract to assist us with the
            above activities, but we will not share your mobile phone number with third parties for their own marketing
            purposes without your consent. Text Messages are distributed via third party mobile network providers and,
            therefore, we cannot control certain factors relating to message delivery. Depending on the recipient's
            mobile carrier, it may not be possible to transmit the text message to the recipient successfully; nor is
            content available on all carriers. We do not claim or guarantee availability or performance of this service,
            including liability for transmission delays or message failures.
          </p>
        </li>
        <li>
          <p>Right to Access, Rectify (Correct), Delete, and How to Opt-Out:</p>
          <ol>
            <li>
              <p>Depending on where you are located,you may have certain rights with regards to your Personal
                Information. You may contact us at <a href="mailto:legal@werelite.com">legal@werelite.com</a> to
                access,update or remove your Personal
                Information.</p>
              <ol>
                <li>
                  <p>Upon request Elite Home Warranty will provide you with information about whether we hold any of
                    your personal information. You are responsible for maintaining the accuracy of the information you
                    submit to us, such as your contact information. You may access, correct, or request deletion of your
                    personal information by making updates to that information or by contacting Elite Home Warranty. If
                    you request to access all personal information you’ve submitted, we will respond to your request to
                    access within 30 days or as otherwise required by law.</p>
                </li>
                <li>
                  <p>
                    We will use commercially reasonable efforts to honor your requests for deletion; however, certain
                    residual information may actively persist on the Service even if you close your account. In
                    addition, the rights described above may be limited, for example, if fulfilling your request would
                    reveal personal information about another person, or if you ask us to delete information we are
                    required by law to keep or have compelling legitimate interests in keeping (such as for fraud
                    prevention purposes). Your Personal Information may remain in our archives and information you
                    update or delete, or information within a closed account, may persist internally for our
                    administrative purposes, to the extent permitted by law. It is not always possible to completely
                    remove or delete information from our databases. In addition, we typically will not remove
                    information you posted publicly through or on the Service. Bear in mind that neither you nor Elite
                    Home Warranty can delete all copies of information that has been previously shared with others on
                    the Service. If your information is deleted, then your account may become deactivated. If your
                    account is deactivated or you ask to close your account, you will no longer be able to use the
                    Services.
                  </p>
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
      <h3>California Residents – Your California Privacy Rights</h3>
      <p>We do not share your Personal Information with nonaffiliated third parties for their direct marketing purposes.
      </p>
      <p>If you are a California resident, California law may provide you with additional privacy rights with respect to
        our collection, use and disclosure of your Personal Information. For more information, visit our <a
          href="https://werelite.com/ccpa-notice" target="_blank">CCPA Notice for California Consumers.</a></p>
      <h3>INTERNATIONAL JURISDICTIONS</h3>
      <p>Our Services are hosted and offered in the United States of America (US), and are subject to US federal, state,
        and local law. If you are accessing the Services from another country, please be advised that you may be
        transferring your personal information to us in the US, and you consent to that transfer, processing and storage
        of your personal information in accordance with this Privacy Notice. You also agree to abide by the applicable
        laws of applicable US federal, state, and local
        laws concerning your use of the Services and your agreements with us. Any persons accessing our Services from
        any jurisdiction with laws or regulations governing the use of the Internet, including the collection, use, or
        disclosure of personal information, different from those of the jurisdictions mentioned above may only use the
        Services in a manner lawful in their jurisdiction. If your use of
        the Services would be unlawful in your jurisdiction, you may not use our Services.</p>
      <h3>SECURITY</h3>
      <p>We use physical, technical and organizational measures designed to protect your information
        against unauthorized access, theft and loss. We restrict access to your personal information to those employees
        who need to know that information to service your account or perform their job
        functions.</p>
      <p>Although we take precautions intended to help protect information that we process, no system or electronic data
        transmission is completely secure. Any transmission of your personal data is at your own risk and we expect that
        you will use appropriate security measures to protect your personal information.
        You are responsible for maintaining the security of your account and the information in your account. We may
        suspend your use of all or part of the Services without notice if we suspect or detect any breach of security.
        You understand and agree that we may deliver electronic notifications about breaches of security to the email
        address on record on your account.</p>
      <h3>DATA RETENTION</h3>
      <p>Unless you request that we delete certain information (see <span>Your Rights and Choices
          Regarding Your Information</span> ), We will retain your personal information for the period necessary to
        fulfill the
        purposes outlined in this Privacy Statement unless a longer retention period is required or permitted bylaw.</p>
      <p>The criteria used to determine our retention periods include:</p>
      <ol>
        <li>
          <p>The length of time we have an ongoing relationship with you and provide services to you (for example, for
            as long as you have an account with us or keep using the Website);</p>
        </li>
        <li>
          <p>Whether there is a legal obligation to which we are subject (for example, certain laws require us to keep
            records of your transactions for a certain period of time before we can delete them)
          </p>
        </li>
        <li>
          <p>Whether retention is advisable; and considering our legal position (such as, for statutes of limitations,
            litigation or regulatory investigations).</p>
        </li>
      </ol>
      <h3>LINKS TO OTHER SITES</h3>
      <p>Our Website may include links to third-party websites and services that are not operated by us. When you click
        these links, you will be directed away from our Services. A link to a third-party website or service does not
        mean that we endorse it or the quality or accuracy of information presented on it. If you decide to visit a
        third-party website or service, you are subject to its privacy practices and policies, not ours. This Privacy
        Statement does not apply to any personal information that you provide to these other websites and services.</p>
      <h3>Social Networking Services</h3>
      <p>When you connect with us through a social media platform, we may, depending on your privacy settings, receive
        some information from your social media account, and what we collect depends on your privacy settings with that
        social networking service. The Service may also allow you to “like” or share content with social networking
        services.</p>
      <p>
        You may register to join the Service directly via the Service or by logging into your account with a third party
        social networking service (“SNS”) via our Service (e.g., Facebook, Github and other
        third party services that let you sign in using your existing credentials with those services). If you choose to
        register via an SNS, or to later link your account with the Service to your account with an SNS, we will use the
        Personal Information you have provided to the SNS (such as your name, email address, gender and other
        information you make publicly available via the SNS) to create your account. Note that the information we
        collect from and through an SNS may depend on the privacy settings you have set with the SNS and the permissions
        you grant to us in connection with linking your account with the Service to your account with an SNS. Other than
        what we may share with the SNS as described below, the Personal Information an SNS has about you is obtained by
        the SNS independent of our Service, and Elite Home Warranty is not responsible for it.</p>
      <h3>CHANGES TO THIS POLICY</h3>
      <p>Elite Home Warranty may update this Privacy Statement at any time and any changes will be effective upon
        posting.
        In the event that there are material changes to the way we treat your Personal Information, we will update the
        Last Modified date at the top of this Policy upon becoming effective. We may also notify you by email, in our
        discretion.</p>
      <h3>HOW TO CONTACT ELITE HOME WARRANTY</h3>
      <p>If you have any questions about this Privacy Statement , please contact us at <a
          href="mailto:legal@werelite.com">legal@werelite.com</a></p>
    </div>
  </div>
</div>
<!-- <div class="landingiconsec">
  <div class="container">
    <div class="landingiconsecin">
      <div class="iniconsec logosec">
        <div class="logobg">
          <a class="footlogo">

            <img src="assets/images/logofoot.png" alt="" data-aos="flip-left" data-aos-duration="1500" />

          </a>
        </div>
      </div>

      <div class="iniconsec iniconsecicon">
        <a (click)="scrollToDiv('#tabcon1', 'csp')" data-aos="fade-right" data-aos-duration="">
          <span class="borderin" (click)="scrollToDiv('#tabcon1', 'csp')">
            <img src="assets/images/contact-icon3.png" alt="" />
            <span>Certified </span><span>Service </span><span>Providers </span>
          </span>
        </a>
        <a (click)="scrollToDiv('#tabcon2', 'rep')" data-aos="fade-right" data-aos-duration="">
          <span class="borderin" (click)="scrollToDiv('#tabcon2', 'rep')"> <img src="assets/images/contact-icon2.png"
              alt="" />
            <span>REAL </span><span>ESTATE </span><span>PROFESSIONALS </span></span>
        </a>

        <a (click)="scrollToDiv('#tabcon3', 'title_agencies')" data-aos="fade-right" data-aos-duration="">
          <span class="borderin" (click)="scrollToDiv('#tabcon3', 'title_agencies')"> <img
              src="assets/images/contact-icon1.png" alt="" />
            <span>Title </span><span>Agencies </span></span>
        </a>
        <a data-aos="fade-right" data-aos-duration="">
          <span class="borderin"> <img src="assets/images/contact-icon4.png" alt="" />
            <span>Homeowners </span></span>
        </a>
        <a (click)="scrollToDiv('#tabcon4', 'vendors')" data-aos="fade-right" data-aos-duration="">
          <span class="borderin" (click)="scrollToDiv('#tabcon4', 'vendors')"> <img
              src="assets/images/contact-icon5.png" alt="" />
            <span>Suppliers </span></span>
        </a>
        <a (click)="scrollToDiv('#tabcon5', 'affiliates')" data-aos="fade-right" data-aos-duration="">
          <span class="borderin" (click)="scrollToDiv('#tabcon5', 'affiliates')"> <img
              src="assets/images/contact-icon6.png" alt="" />
            <span>AFFILIATES </span></span>
        </a>
      </div>


      <div class="iniconsec greysec">
        <div class="navfoot">
          <h4>Home Warranty</h4>
          <ul>
            <li>
              <a>Schedule Service</a>
            </li>

            <li>
              <a> Member Login</a>
            </li>
            <li>
              <a>Plans and Pricing</a>
            </li>
            <li>
              <a>Homeowners</a>
            </li>
            <li>
              <a>Why Elite</a>
            </li>
            <li>
              <a>Join Our Club</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="iniconsec greysec">
        <div class="navfoot">
          <h4>Work With Us</h4>
          <ul>
            <li>
              <a (click)="scrollToDiv('#tabcon1', 'csp')">Certified Service Providers</a>
            </li>

            <li>
              <a (click)="scrollToDiv('#tabcon2', 'rep')">Real Estate Professionals</a>
            </li>
            <li>
              <a>Buyers and Sellers</a>
            </li>
            <li>
              <a (click)="scrollToDiv('#tabcon3', 'title_agencies')">Title Agencies</a>
            </li>
            <li>
              <a (click)="scrollToDiv('#tabcon4', 'vendors')">Suppliers</a>
            </li>
            <li>
              <a (click)="scrollToDiv('#tabcon5', 'affiliates')">Affiliates</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="iniconsec greysec sidesec">
        <div class="navfoot">
          <h4>Education Center</h4>
          <ul>
            <li>
              <a>Home Warranty Basics</a>
            </li>

            <li>
              <a>Maintenance and Repairs</a>
            </li>
            <li>
              <a>Questions and Answers</a>
            </li>
            <li>
              <a>Homeowner Hub</a>
            </li>
            <li>
              <a>Sample Contract</a>
            </li>
            <li>
              <a>Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
