<div class="innerpage">
    <div class="container-fluid">
        <div class="articlehead">
            <button class="d-block d-md-none titlebtn" (click)="clickEvent()">Select Titles <img src="assets/images/downrose.png" alt="" width="10"></button>
            
            <ul [ngClass]="status ? 'open' : ''">
                <li>
                    <a class="active">Title 1</a>
                </li>
                <li>
                    <a>Title 2</a>
                </li>
                <li>
                    <a>Title 3</a>
                </li>
                <li>
                    <a>Title 4</a>
                </li>
                <li>
                    <a>Title 5</a>
                </li>
            </ul>

            <div class="search-sec">
                <input type="text" placeholder="SEARCH HOMEOWNER HUB">
            </div>
        </div>

        <div class="articlebody">
            <p>
                <button class="bcbtn"> <img src="assets/images/goback2.png" alt=""></button>
            </p>

            <div class="article-box ">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="atimg">
                            <img src="assets/images/articleimg.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="attext">
                            <h3>Title 1</h3>
                            <p>There are great cities all through Alaska. Whether your town is large or small, you can find home warranty coverage that meets your needs. Our service agreements are unlike any other home warranty brand, providing an elite level of coverage and the most comprehensive customization. At the end of the day, homeowners are in the driver's seat with us, choosing every appliance or system they need coverage for and even selecting their own service fee amount.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end align-items-center">
                    <div class="col-md-4 order-md-12">
                        <div class="atimg rightsec">
                            <img src="assets/images/articleimg2.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="attext text-right">
                           
                            <p>There are great cities all through Alaska. Whether your town is large or small, you can find home warranty coverage that meets your needs. Our service agreements are unlike any other home warranty brand, providing an elite level of coverage and the most comprehensive customization. At the end of the day, homeowners are in the driver's seat with us, choosing every appliance or system they need coverage for and even selecting their own service fee amount.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subtitlesec">
                <div class="article-box ">
                    <div class="row align-items-center">
                        <div class="col-md-12 padding-45 mb-5">
                            <h3>SUBTITLE I A</h3>
                            <p>Alaska's extreme climate and expansive landscape are thrilling but also present real challenges to homeowners. Homes are impacted by seasons of wind, deep freeze and energy access issues. This takes its toll, shortening the lifespan of common home systems and appliances.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="atimg">
                                <img src="assets/images/articleimg.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="attext">
                             
                                <p>Alaskan homes are built with internal mechanisms to insulate and protect residents from the extreme weather. Arctic issues require that electrical and mechanical devices in the typical Alaskan home meet certain specifications for function and utility. In other words, if you live in Alaska, you need the highest quality heating system, water heaters and plumbing systems to protect you from the elements.</p>

                                <p>Even strong, well-built Alaskan homes are susceptible. It's natural that structural issues, moisture, plumbing and strain on heating systems is an expected part of owning a home in Alaska. For these and other issues, an Elite Home warranty agreement can help.</p>
                            </div>
                        </div>

                        <div class="col-md-12 padding-45 mt-5">
                            <p>For homeowners in Alaska, Elite Home Warranty offers plans that cover essential home systems and appliances, including those especially crucial to life in this state. We cover HVAC, heating and cooling systems,
                                appliances such as a water heater and washer/dryer, plumbing and much more. When you get an Elite Home Warranty plan, you get absolute assurance that you will be covered if one of these costly items breaks down. With environmental conditions that necessitate the uninterrupted operation of your plumbing or heating, we have you covered.
                                </p>
                        </div>
                    </div>
                 
                </div>

                <div class="article-box mt-5 mb-5">
                    <div class="row align-items-center">
                        <div class="col-md-12 padding-45 mb-5">
                            <h3>Subtitle 1B</h3>
                            <p>Unlike other home warranty companies, we let homeowners choose the items that will be covered. With an industry-best standard of customization, you can tailor your agreement to meet your needs.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="atimg">
                                <img src="assets/images/articleimg.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="attext">
                             
                                <p>For instance, if you've recently replaced a heating system, it may still be under manufacturer warranty and not need coverage under your home warranty agreement. With us, you don't have to bundle any items that don't need coverage. You can select the systems and appliances in your home that you want.</p>

                             
                            </div>
                        </div>

                        <div class="col-md-12 padding-45 mt-5">
                            <p>We also allow you to choose your service fee. The rural nature of many Alaskan communities may mean that service providers have a challenge to even reach your home. We work closely with our local providers to ensure that you receive timely communication and real time updates on the progress of your claims. Contact us to learn more.
                                </p>
                        </div>
                    </div>
                 
                </div>


                <div class="article-box ">

                    <div class="row align-items-center">
                        <div class="col-md-12 padding-45 mb-5">
                            <h3>Subtitle 1C</h3>
                            <p>The challenges and benefits of owning a home in Alaska are immense. Appliances break down more frequently, subject as they are to extreme temperature swings and challenging annual maintenance
                                measures. The cost of living in Alaska is high in rural communities where access to amenities is low.
                                </p>
                        </div>
                    </div>
                    <div class="row justify-content-end align-items-center">
                        
                        <div class="col-md-4 order-md-12">
                            <div class="atimg rightsec">
                                <img src="assets/images/articleimg.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="attext">
                             
                                <p>But the payoff is real. The breathtaking landscape and terrain of living on the edge is compelling enough for millions of homeowners to lay their claim to a piece of the tundra.</p>

                                <p>If you are an Alaskan homeowner, Elite Home Warranty is here to offer you exceptional protection and peace of mind.</p>
                            </div>
                        </div>

                        
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-12 padding-45 mt-5">
                            <p>Our customizable home warranty plans provide the best options that will ensure you stay warm, cool and comfortable through each wonderful year of your life in Alaska. Get in touch with us to learn more and sign up.
                                </p>
                        </div>
                    </div>
                 
                </div>
            </div>
            <div class="article-box mt-5">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="atimg">
                            <img src="assets/images/articleimg.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="attext">
                            <h3>Subtitlel D</h3>
                            <p>There are great cities all through Alaska. Whether your town is large or small, you can find home warranty coverage that meets your needs. Our service agreements are unlike any other home warranty brand, providing an elite level of coverage and the most comprehensive customization. At the end of the day, homeowners are in the driver's seat with us, choosing every appliance or system they need coverage for and even selecting their own service fee amount.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end align-items-center">
                    <div class="col-md-4 order-md-12">
                        <div class="atimg rightsec">
                            <img src="assets/images/articleimg2.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="attext text-right">
                           
                            <p>There are great cities all through Alaska. Whether your town is large or small, you can find home warranty coverage that meets your needs. Our service agreements are unlike any other home warranty brand, providing an elite level of coverage and the most comprehensive customization. At the end of the day, homeowners are in the driver's seat with us, choosing every appliance or system they need coverage for and even selecting their own service fee amount.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
