<div class="inner-container">
  <div class="container ">
    <div class="headersec">
      <p>Elite Home Warranty</p>
      <h3>California Consumer Privacy Act (CCPA) Notice for California Consumers</h3>
    </div>
    <div class="contentHeader">
      <p>Last Modified:<span> July 1, 2020</span></p>
    </div>
    <div class="content">
      <h3>OVERVIEW</h3>
      <p>The California Consumer Privacy Act of 2018 (“CCPA”) becomes effective on January 1, 2020 and creates a variety
        of privacy rights for California consumers. We share the same information about our practices with everyone but
        use this notice to make disclosures required by the CCPA.</p>
      <p>This notice includes the following parts:</p>

      <ol>
        <li>
          <h4>Transparency:</h4>
          <p> We are transparent about how your personal information is collected, used, shared and sold.</p>
        </li>
        <li>
          <h4>Control:</h4>
          <p> We put you in control of your personal information, including accessing and deleting your personal
            information.
          </p>
        </li>
        <li>
          <h4>Benefits to You:</h4>
          <p>We use your personal information to benefit you and to make your experiences better.
          </p>
        </li>
      </ol>

      <p>To learn more about Elite Home Warranty’s privacy principles, visit
        <br><a>https://www.werelite.com/privacy-policy</a>
      </p>

      <h3>Transparency</h3>

      <p>What Personal Information We Collect</p>
      <p>You have the right to know what kinds of personal information Elite Home Warranty is collecting and our
        business purposes for that collection.</p>
      <p>We make this information available to consumers in the <span> INFORMATION WE COLLECT ABOUT YOU AND HOW WE
          COLLECT IT</span>
        section on our Privacy Statement.</p>
      <p>How We Use Your Personal Information</p>
      <p>You have the right to know how personal information is obtained, how it is used, and our business purposes for
        that use.</p>
      <p>We make this information available to consumers in the <span>HOW WE USE YOUR INFORMATION</span> section on our
        Privacy
        Statement.</p>
      <p>How We Share Your Personal Information</p>
      <p>You have the right to know if your personal information is shared with any third parties. We may share personal
        information to have Service Providers, as defined by the CCPA, perform services

        specified by written contract. In addition, we may share personal information with third parties for other
        notified purposes, as permitted by the CCPA.</p>
      <p>We make this information available to consumers in the <span> HOW WE DISCLOSE AND SHARE YOUR INFORMATION</span>
        section on
        our Privacy Statement.</p>
      <p>We Do Not Sell Your Personal Information</p>
      <p>You have the right to know whether your personal information is being sold. Your personal information is sold
        when it is shared with a third party for monetary or other valuable consideration for a purpose that is not a
        “business purpose” as set forth in the CCPA.</p>
      <p><span>Elite Home Warranty does not sell your personal information.</span></p>

      <p><span>Control</span></p>
      <p>Right to Know, Right to Receive, Right to Delete</p>
      <p>You have the right to:</p>
      <ol>
        <li>
          <h4>Know</h4>
          <p>what specific pieces of personal information Elite Home Warranty has collected and retained about you over
            the previous 12 months.</p>
        </li>
        <li>
          <h4>Receive</h4>
          <p>a copy of your personal information.</p>
        </li>
        <li>
          <h4>Delete</h4>
          <p>your personal information.</p>
        </li>
      </ol>
      <p>If you are a California resident and you have questions about our privacy practices your choices, please
        contact us at: <a href="mailto:legal@werelite.com">legal@werelite.com</a> You must put the statement “Your
        California Privacy Rights” in the
        subject
        field of your email. Before helping you with your inquiry, we may ask to verify your identity or the identity of
        your authorized agent. We are not responsible for notices that are not labeled or sent properly, or do not have
        complete information.</p>
      <p>Right to “Opt-out” of “Sale”</p>
      <p>Elite Home Warranty does not sell your personal information, so we do not offer an opt out.</p>
      <p><span>Benefits to You</span></p>
      <p>Financial Incentives</p>
      <p>The CCPA allows businesses to offer consumers financial incentives for sharing personal information. For
        example, a business can offer a rewards program or provide a premium service
        to consumers as compensation for their personal information. Where Elite Home Warranty offers these programs,
        your participation is optional. If you choose to participate, your participation
        will be subject to any applicable terms, and you may withdraw at any time.</p>
      <p>Non-Discrimination</p>
      <p>The CCPA prohibits businesses from discriminating against you for exercising your rights under the law. Such
        discrimination may include denying a good or service, providing a different level
        or quality of service, or charging different prices. The CCPA permits businesses to provide differing levels or
        quality or different prices where the business can demonstrate that the difference is reasonably related to the
        value to the business of the consumer’s personal information.</p>
    </div>
  </div>
</div>
