<div class="inner-container commonpage">
  <div class="container">
    <div class="homeowner__header">
      <h2>Why Choose Elite <br>
        Home Warranty</h2>
    </div>
    <div class="homeowner__content">
      <div></div>
      <p>Elite Home Warranty is a different kind of
        warranty company. Instead of seeing
        homeowners as data points or streams of
        revenue, we prefer to see ourselves a
        service-based business. Our goal is to
        provide the best home warranty coverage
      </p>
    </div>
    <div class="homeowner__content">
      <div></div>
      <p class="custom__paragraph">
        Each day, we work with homeowners around the country who are in
        distress. The basics of a home warranty service agreement is that
        we fill in the gap, providing a layer of protection when appliances and
        systems have aged out of manufacturer warranties. This coverage
        exchanges an annual premium for item-specific coverage. But we go
        way beyond that <br> <br>

        All home warranty companies will cover basic things like washers,
        dryers and some plumbing. However, they are on the side of
        exclusion and leave a lot of things to fine print. This can disadvantage
        homeowners in their most critical time of need. When your heater
        isn’t working or your refrigerator dies, the last thing you want is to
        sift through piles of paperwork to understand why you claim was
        denied. And yet, that’s the unfortunate reality for a lot of
        homeowners <br> <br>

        We understand that homeowners buy home warranty policies
        because they don’t want to face the major costs of repairing or
        replacing covered items. If you don’t get the coverage you thought
        you were getting, it can be a huge burden. Our goal is to provide relief
        <br> <br>

        There are several key differentiators that set us
        apart from other home warranty companies.<span> Read
          on </span> to learn more or <span>contact us</span> to ask about
        home warranty service agreements in your area


      </p>
    </div>
    <br><br>



    <div class="homeowner__header mt-5">
      <h3 class="w-70">Elite Home Warranty:
        Serving Homeowners
      </h3>
    </div>

    <div class="homeowner__content justify-content-end">
      <div class="w-70">

        <br> <br>
        <small class="w-100">
          Elite Home Warranty is proud to offer the highest level of customization
          in the business. Our plans are designed with the homeowner in mind
        </small>
        <br> <br>

        <p class="w-100">
          You can buy into a variety of basic plans with
          transparent pricing:
        </p>




        <div class="accr-common">
          <div class="row">
            <div class="col-lg-6 text-left">
              <img src="assets/images/c1.png" alt="" class="img-fluid"><br>
              <p class="w-100">
                Elite Appliances
              </p><br>
            </div>
            <div class="col-lg-6 text-left">
              <img src="assets/images/c2.png" alt="" class="img-fluid"><br>
              <p class="w-100">
                Elite Systems
              </p><br>
            </div>

            <div class="col-lg-6 text-left">
              <img src="assets/images/c3.png" alt="" class="img-fluid"><br>
              <p class="w-100">
                Elite Complete
                (appliances and
                systems)
              </p><br>
            </div>
            <div class="col-lg-6 text-left">
              <img src="assets/images/c4.png" alt="" class="img-fluid"><br>
              <p class="w-100">
                Elite Electronics
              </p><br>
            </div>

            <div class="col-lg-6 text-left">
              <img src="assets/images/c5.png" alt="" class="img-fluid"><br>
              <p class="w-100">
                Elite Service Line
              </p><br>
            </div>
            <div class="col-lg-6 text-left">
              <img src="assets/images/c6.png" alt="" class="img-fluid">
              <br>
              <p class="w-100">
                Customize Your Own
              </p><br>
            </div>

            <div class="col-lg-12 text-left">
              <p class="w-100">All of our plans come with standard features, such
                as a 24/7 customer service line and emergency
                services as needed. We are up-front about what we
                will and won t cover and the ways in which we will
                make every effort to help you out</p>

              <p class="w-100">And that’s just the beginning. Elite Home Warranty
                has unique policies and plans that are tailor-made to
                suit your needs</p>
            </div>
          </div>



        </div>
      </div>
    </div>


    <div class="homeowner__header mt-5">
      <h3 class="w-70">Elite Electronics
        and Elite Service Line
      </h3>
    </div>
    <div class="homeowner__content" style="display: block;">

      <div class="w-70 mt-5 mb-5 ml-auto">
        <div class="w-70 ml-auto">


          <small>
            There are several above-and-beyond offerings
            that Elite Home Warranty provides. Two of them
            are Elite Electronics and Elite Service Line
          </small>
        </div>


      </div>

    </div>

    <div class="homeowner__content justify-content-end">
      <div class="w-70">
        <img src="assets/images/eliteelectronis.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="homeowner__content justify-content-end">
      <div class="w-70 p-3">
        <h4>Elite Electronics</h4>
        <p class="w-100">
          <small>
            Electronics are rarely included in home warranty plans. This is because they
            are challenging to fix or replace and can be a risk for home warranty
            companies. But at Elite Home warranty, we realize that you use electronics
            every day

          </small>
        </p>
        <p class="w-100">
          <small>
            Plumbing is another sticking point for many home warranty companies.
            Plumbing is complicated and can be incredibly expensive. Most home warranty
            service agreements put thorough terms in place to limit what they will and
            won t cover in terms for plumbing. This especially extends to the plumbing
            pipes and stoppages beyond the foundation of your home
            For some households, a tablet or computer is just as important as a
            washer/dryer or garbage disposal. You use technology for work, play and
            school. When these devices break, you may be in a bind. With Elite Electronics,
            you ll have the coverage you need
          </small>
        </p>
      </div>
    </div>

    <div class="homeowner__content">
      <div></div>
      <p class="custom__paragraph w-70">
        <span> Tap here </span>to learn more about the specifics of this
        plan or ask questions
      </p>
    </div>

    <div class="homeowner__content justify-content-end">
      <div class="w-70">
        <br>
        <br><br>
        <br>
        <img src="assets/images/eliteexterior.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="homeowner__content justify-content-end">
      <div class="w-70 p-3">
        <h4>Elite Service Line</h4>
        <p class="w-100">
          <small>
            Plumbing is another sticking point for many home warranty companies.
            Plumbing is complicated and can be incredibly expensive. Most home warranty
            service agreements put thorough terms in place to limit what they will and
            won t cover in terms for plumbing. This especially extends to the plumbing
            pipes and stoppages beyond the foundation of your home

          </small>
        </p>
        <p class="w-100">
          <small>
            Elite Home Warranty has a different philosophy. We realize that there is no
            magic length of pipe that will cover you. Sometimes, the issue extends
            beyond the foundation of your home. For home warranty plumbing coverage
            to be truly comprehensive, you need to know that our qualified service
            providers will access and assess the pipes outside of your home. Elite Service Line provides coverage for
            exterior plumbing systems
          </small>
        </p>
      </div>
    </div>

    <div class="homeowner__content">
      <div></div>
      <p class="custom__paragraph w-70">
        <span> Tap here </span>to learn more about the specifics of this
        plan or ask questions
      </p>
    </div>
    <div class="homeowner__header mt-5">
      <h3 class="w-70">Advanced
        Customization
      </h3>
    </div>


    <div class="homeowner__content" style="display: block;">
      <div class="w-70 ml-auto">
        <div class="w-60 ">


          <small>
            Elite Home Warranty provides advanced
            customization options. Here’s what we realized:
            not every homeowner has the same, specific set
            of covered items. Maybe you are mid-renovation
            and have recently replaced your plumbing or
            HVAC. In that case, you don’t need those items
            covered because they’ll be under manufacturer
            warranty. Or maybe you have a very specific
            budget for your annual premium and need to stay
            within that amount, reducing what you can get
            covered
          </small>
        </div>
      </div>
      <div class="w-70 mt-5 mb-5 ml-auto">
        <div class="w-70 ml-auto">


          <small>
            Because you are different, we provide different
            options. Most companies will give you the option of
            an appliance package, systems package or a
            bundled appliance and system package. We have
            that too, to make your life easier in case you fit in
            the box. But if you don’t fit in the box, we can help
            with that, too. Elite Home Warranty literally
            allows you to start with as little as one item. You
            can customize a plan from the ground up that
            includes any and every item you specifically need <br><br>
          </small>
        </div>

        <div class="greenline"></div>

        <br>
        <br>
        <p class="w-100">
          This gives you all the freedom in the world and
          the knowledge that you got to choose what’s
          covered.
        </p>
      </div>

    </div>

    <div class="homeowner__header mt-5">
      <h3 class="w-70"> Why Pick Elite Home
        Warranty?
      </h3>
    </div>

    <div class="homeowner__content">

      <div class="w-70 mt-5 mb-5 ml-auto">
        <div class="w-70 ml-auto">


          <small>
            Elite Home Warranty is a different kind of home
            warranty company. We exist to make your life
            easier. The reality is, many home warranty
            companies just want to take your annual premium
            and hide when you go to file a claim. Obviously, they
            don’t hide literally but they do hide behind
            complicated terms and conditions and
            hard-to-understand exclusions. With them, you
            may often find that you don’t qualify to make a
            claim. In that case, what you thought was covered
            will end up costing you a lot of money
          </small>


        </div>
        <br> <br>
        <small>We’ve watched this happen over and over again. And we realized there had to
          be a better way. There wasn’t, so we made one. Our system has you in mind.
          The homeowner is at the center of all we do. As the center of our universe,
          we have created a streamlined, online and app-based system that quite
          simply works for you. Here are some of the ways we make your life easier</small>
      </div>

    </div>
    <div class="homeowner__content justify-content-start">
      <h4>Clear Service Agreements</h4>
    </div>
    <div class="homeowner__content justify-content-start">

      <p class="w-70">
        Home warranty service agreements provide
        the details of everything both you and the
        company are agreeing to. This will include
        basic, legal language that includes:
      </p>
    </div>


    <div class="homeowner__content justify-content-end">

      <div class="accr-common w-70">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - What is covered
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - What is not covered

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Caps on covered items
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Terms and limits on coverage
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - How claims will be processed
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - How claims will be fulfilled

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - What our options are for fulfilling claims

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - What your options are for getting payment

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - When/how you can opt out

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - When/how the company can stop your coverage

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - When/how you have to renew your plan

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Whether your pricing is set or can change

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

        </mat-accordion>

      </div>
    </div>

    <div class="homeowner__content justify-content-start">

      <p class="w-70">
        All of these details are important for you to know.
        The challenge is in the details. There are a lot of
        them. Some of the details are vital to protect both
        you and the home warranty company from
        liabilities. Other details (provided by other home
        warranty companies) exist to make things
        complicated. For instance, rigid caps on covered
        items or replacement terms that won’t make any
        effort to match make/model. In other words, if your
        old washer breaks down, there may not be any
        attempt to replace it with a matching washe
      </p>
    </div>


    <br><br>

    <!-- nnn -->
    <div class="homeowner__content">
      <div class="w-70 mt-5 mb-5 ml-auto">
        <small>
          Sometimes, there are also steep exclusions on how many claims you can
          make and aggregated, annual dollar amounts you can claim for. What that
          means for the homeowner is that if you have a plumbing emergency and an
          HVAC emergency in the same year (two high-ticket items), you may be out of
          luck. Even if you try to file a claim, you may have already met your limits and be
          denied
        </small>

        <br>

        <small>
          At Elite Home Warranty, our goal is to be very up-front. We can’t give you the
          moon but we can give you the absolute best value and assurance that we will
          follow through on terms of agreement. That’s a difference
        </small>
      </div>
    </div>
    <div class="homeowner__content">
      <div></div>
      <p class="custom__paragraph w-70"> And it s one you can<span> trust </span> </p>
    </div>
    <div class="homeowner__header mt-5">
      <h3 class="w-70"> About Elite Home
        Warranty </h3>
    </div>

    <div class="homeowner__content">
      <div class="w-70 mt-5 mb-5 ml-auto">

        <p class="w-100">
          As a consumer, you have options when it comes to
          choosing a home warranty. So, what makes us
          special? With Elite Home Warranty, we are on your
          side
        </p>

        <img src="assets/images/abt.png" alt="">

        <br>
        <br>
        <small>
          Our leadership team has decades of experience upholding the highest
          standards in this industry. And yet, we know that consumers often get the
          short end of the stick. You may have seen news reports and lawsuits that
          illustrate the lack of transparency, numerous exclusions and other
          drawbacks with home warranty companies e have had a backstage pass to
          these dynamics and decided that you deserve better
        </small>
        <br><br>
        <p class="w-100">
          You deserve to know what you are getting and how much it will cost.
          Our work is to prove to you that we are on an elite level: operating
          with the consumer in mind
        </p>
      </div>
    </div>

    <div class="homeowner__header mt-5">
      <h3 class="w-70"> Elite Home Warranty: <br>
        A Higher Standard
      </h3>
    </div>

    <div class="homeowner__content">
      <div class="w-70 mt-5 mb-5 ml-auto">



        <img src="assets/images/higherstandard.png" alt=""> <br> <br>

        <small>
          That is why all of our plans come standard with a
          promise: we will do our best to lay out in black and
          white what you are buying, what is covered, what
          is not covered and the process you’ll take to file
          claims and get repairs or replacement
        </small>


        <br> <br>

        <small class="w-70">
          We don’t believe that it’s enough for you to feel
          you have a backup plan in the event of costly
          breakdowns in your home. We are your first line of
          defense. In this partnership, we will hold up our end
          of the bargain, having your back if things go wrong
          and going above and beyond to meet your needs
        </small>

      </div>
    </div>

    <div class="homeowner__header mt-5">
      <h3 class="w-70">Elite Home Warranty: Our
        Values and Mission
      </h3>
    </div>

    <div class="homeowner__content" style="display: block;">
      <div class="w-70 mt-5 mb-5 ml-auto">
        <div class="w-70 ml-auto"><small> At Elite Home Warranty, we are prepared to
            do more and be more than the average home
            warranty company… because we have seen it
            all. We have seen the challenges
            homeowners face. Policies that are meant
            to protect them are full of fine print. We
            deeply value the opportunity to do things
            differently</small></div>
      </div>
    </div>

    <div class="homeowner__content" style="display: block;">
      <div class="w-70 mt-5 mb-5 ml-auto">
        <p class="w-100">
          Here is what we believe and are committed to living
          out with each customer.
        </p>
      </div>
    </div>

    <div class="homeowner__content justify-content-end mt-5">
      <p class="w-70" style="background: #dae2d2; padding: 20px;"> At Elite Home Warranty, we provide more than just
        peace of mind.
        Obtain absolute transparency and a clear, customized plan with
        coverage that meets your needs. We deliver the ultimate service
        that exceeds your expectations.</p>
    </div>

    <div class="homeowner__content justify-content-strat mt-5" style="justify-content: start;">
      <h4>What does this mean for you?</h4>

    </div>
    <div class="homeowner__content justify-content-strat mt-5" style="justify-content: start;">
      <div class="w-60"></div>
      <small class="">
        It means that we are on a mission to give you the
        very best. Our coverage is customer-centric. We
        offer more customized plans than anyone else in
        the industry.
      </small>
    </div>


    <div class="homeowner__content">
      <div></div>
      <p class="custom__paragraph w-70">You will have the <span> power to </span></p>
    </div>

    <br>

    <div class="homeowner__content">
      <ol>
        <li>
          <p>Choose your plan</p>
        </li>

        <li>
          <p>Choose the covered
            items</p>
        </li>
        <li>
          <p>Choose a dollar limit
            of coverage per items</p>
        </li>

      </ol>
    </div>

    <div class="homeowner__content" style="justify-content: flex-end;">
      <div class="w-70">
        <div class="w-70">
          <small>Wherever possible, we are eliminating
            exclusions. As we operate on your behalf, we
            are certain that you will end up with peace of
            mind and a simple, streamlined experience</small>
        </div>
      </div>
    </div>

    <div class="homeowner__content">
      <div></div>
      <p class="custom__paragraph w-70"><span> Contact us </span>to get started
      </p>
    </div>




    <!--  -->


    <div class="homeowner__header mt-5">
      <h3 class="w-70"> Benefits of Elite
        Home Warranty
      </h3>
    </div>


    <div class="homeowner__content justify-content-end">


      <p class="w-70">
        <small>
          Elite Home Warranty was founded by veterans in
          the home warranty industry. These professionals
          were fed up with how homeowners were being
          treated. You see lawsuits in the news and ample
          evidence that some home warranty companies
          are up to no good. At Elite Home warranty, we are
          committed to doing good
        </small>
      </p>

    </div>
    <br>
    <div class="homeowner__content justify-content-end" style="justify-content: flex-start;">
      <p class="w-70">You shouldn’t have to pay extra for VIP
        treatment. Here is just an example of the
        many benefits we provide for our customers</p>
    </div>
    <br>
    <div class="homeowner__content justify-content-end">

      <div class="accr-common w-70">

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - 24/7 servic
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Fully customizable plans
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Transparent coverage
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Licensed service providers and technicians
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Highest level of coverage
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - No age restrictions on covered items or systems

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - You may choose a repair or replacement OR cash payment

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - No limit on the number of annual claims

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>



        </mat-accordion>
        <!-- nnn -->


      </div>
    </div>
    <br> <br>
    <div class="homeowner__content " style="justify-content: flex-start;">

      <p><span> Moving? </span> Your home warranty policy is
        transferable to a new homeowner.</p>


    </div>
    <div class="homeowner__content ">
      <small>
        With Elite Home Warranty, we are very clear about the effort we will
        make to cover you both while repair or replacement is happening and
        to give you the right new unit:
      </small>
    </div>
    <div class="homeowner__content ">
      <div class="accr-common w-70">

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Match make, model and color (when available)

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Added emergency lodging benefits
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Added rust and corrosion coverage benefits
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Added Freon coverage benefits
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Disposing of old items benefits
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Added code violation and permits coverage benefits


              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - Added special grade appliances coverage benefits

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                - No maintenance record required

              </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>



        </mat-accordion>
        <!-- nnn -->
        <br>
        <p class="w-100">Two enormous distinctives of EHW is that we give
          homeowners the ability to choose their own service
          fee and increase caps on covered items.</p>

        <h4>Simple Claims</h4>

        <div>
          <p>
            If you’ve ever been on hold for thirty
            minutes… sixty minutes… or more, you know
            this matters very much. A simple claims
            process is an enormous differentiator with
            Elite Home Warranty. We fully understand
            that you do not have the time to wait around
            for us or check up on your process. That’s
            why we’ve made it all online or available
            through our app
          </p>

          <p style="margin-left: auto;">Once you sign-up, you’ll be able to login
            straight from a web browser or your phone.
            This is a no-hassle, super easy way to file a
            claim and track its progress without any
            added effort. You can be sure that if your
            item is covered and there aren’t any issues,
            your claim will go through fast and with
            minimal work. This means that your broken
            down appliance or system gets checked out
            and repaired or replaced in no time</p>
        </div>
        <br>
        <h4>Straightforward Communication</h4>

        <p class="w-100">
          <small>Lastly, we get down to brass tacks. We take your time and needs
            seriously. Our friendly customer service and customer support
            team are truly here for you. We are available around-the-clock to
            answer any questions and help you navigate the claims process. It’s
            our belief that the more honest we are with you, the better this
            process will be for us all. We operate that way all day every day. Give
            us a call if you have any questions</small>
        </p>

      </div>
    </div>


    <div class="homeowner__header mt-5">
      <h3 class="w-60">Choose Elite Home
        Warranty</h3>
    </div>
    <div class="homeowner__content">
      <div class="w-65">


        <small>A home warranty is a valuable source of
          protection. If a major appliance or system in your
          home breaks, you will be responsible for the full
          payment of repairing or replacing it. This can be
          immensely cost-prohibitive and burdensome. The
          average cost of repairing or replacing a major
          appliance or system doesn’t come close to your
          entire annual home warranty premium</small>

        <br>

      </div>
    </div>


    <br>

    <div class="homeowner__content">
      <div class="w-70">


        <small>Additionally, the logistics and challenges of arranging service and repair or
          replacement is a challenge for some homeowners. If you live in a rural area or
          are otherwise frustrated in your attempts to find trustworthy, reliable
          service providers, EHW is here to help. We have a network of qualified
          providers who are available to help you out</small>

        <br>

      </div>
    </div>

    <div class="homeowner__content justify-content-end mt-5">
      <p class="w-70" style="background: #dae2d2; padding: 20px;"> At the end of the day, you should be able to trust us
        to follow through. Many home warranty companies
        won’t. But we will. We understand that you count
        on this service agreement. When your refrigerator
        dies or your HVAC stops working, you should know
        that you can call us up and we will activate a ready
        response to help you out</p>
    </div>

    <div style="clear: both;"></div>

    <div class="homeowner__content justify-content-start mt-5">
      <p class="w-70">
        Contact our sales department to learn
        more or get a quote for home warranty
        service agreements in your area.
      </p>

    </div>

    <div class="homeowner__content">
      <div></div>
      <p class="custom__paragraph"> Fill out the form below to receive a <span> FREE QUOTE </span></p>
    </div>

    <br><br>
    <div class="homeowner__content w-100">
      <div class="w-50 m-auto">
        <form>
          <div class="abt-frm">
            <input type="text" placeholder="Enter Full Name">
          </div>

          <div class="abt-frm">
            <input type="text" placeholder="Enter Full Number">
          </div>

          <div class="abt-frm">
            <input type="text" placeholder="Enter Full Address">
          </div>

          <div class="abt-frmin ">
            <div class="actionControl float-right">
              <button class="submit-btn float-left" type="button"><span>CONTINUE</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>






    <div class="ps-section">
      <div class="ps">
        P.S
      </div>
      <div class="w-100">
        <h2>Building the future of
          home warranties together</h2>
      </div>
    </div>

  </div>
</div>
