<div class="agreement">
  <div class="container">
    <div class="agreementinner">

      <div class="row">
        <div class="col-md-6">
          <div class="agrmnt-lft">
            <div class="">
              <h2>HONESTY,
                TRANSPARENCY
                AND CLARITY ARE
                THE BASIS OF
                ELITE HOME
                WARRANTY</h2>

              <p>Each state has different requirements,
                and we have established a service
                agreement to comply with each state laws
                and regulations</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="agrmnt-rght">
            <a class="need ">Need Help?</a>
            <div class="minsec ">
              <h4>Enter your mobile number

                to access our service
                agreement</h4>

              <input type="text" placeholder="Enter mobile  number">

              <button class="greenbtn"> Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
