<div class="homebanner mob-none">
  <video loop="true" preload="metadata" id="vid" muted="muted" style="width: 100%;" class="backgroundvideo">
    <source src="./assets/video/sample9.mp4" type="video/mp4" />
  </video>
  <!-- autoplay -->
  <div class="content-head">
    <div class="bannervdo-container">
      <div class="bannervdo-text w-100">

        <div class="container">
          <h2>THE FUTURE OF HOME WARRANTIES </h2>
          <p>Homeowners deserve better home warranty coverage.</p>
          <!-- <button (click)="play()"></button> -->
          <div class="bvright text-right">
            <p>Every day begins and ends at home, let’s keep it up and running. <br>
              Elite improves home protection and provides <br> enhanced coverage for major systems, appliances and more.
            </p>
            <div class="w-70 ml-auto getform">
              <form action="" [ngClass]="{'quote': addClass}">
                <div class="frminput">
                  <input type="text" placeholder="Enter Your home address?" [(ngModel)]="getaddress1" #address
                    [ngModelOptions]="{standalone: true}">
                </div>
                <button (click)="addClass = true">GET A FREE QUOTE</button>
              </form>
            </div>
          </div>

          <div class="text-center">
            <h3>MORE THAN JUST <span> PEACE OF MIND <img src="assets/images/r.png" alt="" style="width: 12px; margin-top: -10px;
              margin-left: -5px;" /> </span></h3>
          </div>

          <h4 class="bannersmall"><small class=""><a (click)="scrolltomap()"> <u> Elite Home Warranty</u> </a> is a
              licensed and approved home warranty service
              provider </small></h4>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="homebanner desk-none">
  <img src="assets/images/mobilebg.png" alt="" width="100%">

  <div class="bannerinnerhome">
    <div class="container">
      <h2 class="text-center">THE FUTURE OF HOME WARRANTIES </h2>
      <p class="text-left">Homeowners deserve better home warranty coverage.</p>
      <img src="assets/images/elitewhitebg.png" alt="" width="" class="eimage">
      <br> <br>
      <p class="text-left">

        Elite improves home protection and provides enhanced coverage for major systems, appliances and more.
      </p>
      <h4 class="bannersmall"><small><u (click)="scrolltomap()"> Elite Home Warranty</u> is a licensed and approved home
          warranty service provider
        </small></h4>
      <p class="text-center button-margin">
        <button>
          <img src="assets/images/join-btn.png" alt="" width="100%" style="width:250px">
        </button>
      </p>

      <div class="greenbannersec">
        <h2>MORE THAN JUST <span> &nbsp;PEACE OF MIND <img src="assets/images/r.png" alt="" style="width: 11px; margin-top: -10px;
          margin-left: -5px;" /></span> </h2>
      </div>
    </div>
  </div>

</div>
<div class="homelanding">
  <div class="homefirst">
    <div class="container">
      <div class="w-70">
        <h2>MODERN HOME <br> WARRANTIES THAT ARE <br> CUSTOMIZED FOR YOU</h2>
        <p>Elite Home Warranty provides home warranty plans that set a new standard of home warranties and boosts
          protection
          for what’s important to today’s homeowner</p>
      </div>
      <div class="hf-items">
        <div class="row">
          <div class="col-sm-4">
            <div class="iteminhf">
              <img src="assets/images/hitem1.png" alt="">
              <h4>Kitchen <br> Appliances</h4>
              <p>Enhanced coverage to repair or replace kitchen appliances such as Refrigerator, Oven, Range and more
              </p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="iteminhf">
              <img src="assets/images/hitem2.png" alt="">
              <h4>Laundry <br> Appliances</h4>
              <p>Enhanced coverage to repair or replace laundry appliances such as Clothes Washer and Clothes Dryer</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="iteminhf">
              <img src="assets/images/hitem3.png" alt="">
              <h4>Cooling and <br> Heating</h4>
              <p>Enhanced coverage to repair or replace Cooling and heating systems such as HVAC, Air Conditioning and
                more</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="iteminhf">
              <img src="assets/images/hitem4.png" alt="">
              <h4>Plumbing Systems</h4>
              <p>Enhanced coverage to repair or replace plumbing systems such as plumbing leaks, stoppages, broken
                pipes,
                toilets</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="iteminhf">
              <img src="assets/images/hitem5.png" alt="">
              <h4>Electrical Systems</h4>
              <p>Enhanced coverage to repair or replace main electrical system such as wiring, fuses, main panels and
                more
              </p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="iteminhf">
              <img src="assets/images/hitem6.png" alt="">
              <h4>Pool and Spa</h4>
              <p>Enhanced coverage to repair or replace pool and spa equipment such as plumbing, filtration, pumping and
                heating systems</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="iteminhf">
              <img src="assets/images/hitem7.png" alt="">
              <h4>Service Line</h4>
              <p>Enhanced coverage to repair or replace water and sewer line between your house and the street in case
                of
                an accident or wear and tear</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="iteminhf">
              <img src="assets/images/hitem8.png" alt="">
              <h4>Electronics</h4>
              <p>Enhanced coverage to repair or replace electronic devices such as TVs, home office computers and
                laptops
              </p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="iteminhf">
              <img src="assets/images/hitem9.png" alt="">
              <h4>Limited Roof Leak</h4>
              <p>Limited roof leak repair coverage to patch a roof when necessary to stop a resulting interior leak in
                the
                occupied living area of the Residence</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="getfree">
    <div class="container">
      <h2>OUR CUSTOMIZED HOME <br> WARRANTIES COME WITH MANY <br> FEATURES AND STRESS IS NOT <br> ONE OF THEM</h2>

      <div class="w-70 ml-auto getform">
        <form action="">
          <div class="frminput"><input type="text" placeholder="Enter Home Address " [(ngModel)]="getaddress2" #address1
              [ngModelOptions]="{standalone: true}"></div>
          <button>GET A FREE QUOTE</button>
        </form>
      </div>
    </div>
  </div>

  <div class="werxist">
    <div class="container">
      <div class="w-70">
        <h2>WHY WE EXIST?</h2>
        <p>Elite Home Warranty was founded on the belief that homeowners deserve better home protection. No one has
          solved
          key industry issues and offers the level of customization that we do. We exist to make your life easier</p>
      </div>

      <div class="w-70 ml-auto othrtxt">
        <div class="row">
          <div class="col-sm-6">
            <h3>Modern Coverage</h3>
            <p>Elite offers enhanced home warranty plans that are customized for you with 3x higher coverage limit than
              traditional home warranties for appliances and systems with option to increase coverage limit even more.
              Our
              members always get more</p>
          </div>

          <div class="col-sm-6">
            <h3>Streamlined Process</h3>
            <p>Elite has modernized home warranties by offering straight forward pricing and transparent coverage with
              minimal exclusions. We allow you to buy home warranties entirely online. We save cost by eliminating
              commissioned agents and pass on the savings with better coverage at cheaper prices</p>
          </div>

          <div class="col-sm-6">
            <h3>Claims Concierge</h3>
            <p>Elite knows that filing a claim is not part of your daily routine. To help relieve the stress it can
              cause,
              we provide an experienced Claims Concierge as your single point of contact from start to finish to walk
              you
              through the entire process, providing information and answering questions, ensuring you’re updated every
              step of the way</p>
          </div>

          <div class="col-sm-6">
            <h3>Choice of Technician</h3>
            <p>Members can choose to use their own technicians for repairs. Elite will work with any licensed, insured
              technician of your choice. Don’t have anyone in mind? We are here to help you. We have a large network of
              vetted service providers and technicians to ensure high-quality work and first-class service, and provide
              a
              90-day workmanship warranty</p>
          </div>

          <div class="col-sm-6">
            <h3>Convenience</h3>
            <p>Elite exist to make your life easier. You can file a claim online 24 hours a day, 7 days a week or with
              our
              friendly concierge team. We process claims quickly and ensure you are updated every step of the way. We
              provide honesty, transparency, and clarity throughout the entire process and we'll get your home up and
              running in no time</p>
          </div>

          <div class="col-sm-6">
            <h3>US Based Support Team</h3>
            <p>Our headquarters is located in New York, where our friendly support team will provide top-notch support
              and
              quality service. We have professional team members in other states working to ensure that we can help you
              24
              hours a day, 7 days a week</p>
          </div>

          <div class="col-sm-6">
            <h3>Trusted</h3>
            <p>Elite Home Warranty is a licensed and sanctioned home warranty company you can trust. We provide honesty,
              transparency, and clarity. Elite is modernizing the $4 billion home warranty industry by putting customers
              at the center of everything we do, from the customized coverage we offer to the services we provide</p>
          </div>

          <div class="col-sm-6">
            <h3>NO COMMITMENT</h3>
            <p>60-day full money back guarantee, usually up to 30 days from the effective date of the coverage. After
              that, your service agreement will be refunded proportionally. A small cancellation fee may be charged</p>
          </div>

          <div class="col-sm-12">
            <h3>FULL TRANSPARENCY </h3>
            <p>We exercise total honestly from the very start. Your clear contract will state the exact terms of our
              agreement and you won't be surprised by unexpected charges or unfair treatment. <br>

              That's our pledge to you: we'll be honest and there when you need us.</p>
          </div>

          <div class="col-sm-12 mob-left">
            <h3 class="text-right"><img src="assets/images/togthrgreen.png " alt="" height="25"
                style="margin-top: -6px;" /> IN IT TOGETHER </h3>
            <p class="text-left">We are a reliable partner to protect your home and budget. Breakdowns are frustrating,
              but they do happen. Our network can be activated to get you the help you need so you can get back to
              running your home and living your life. We will always go above
              and beyond to tackle any challenge, even ones that aren't on your plan. Let us make your life a little
              easier</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="wegvbk">
    <div class="container">
      <div class="w-70">
        <h2>WE GIVE BACK</h2>
      </div>

      <div class="w-70 ml-auto">
        <p>Elite Home Warranty donates a portion of the revenues to several charitable organizations. We proudly support
          veterans & military families, food & education for kids, housing, cancer organizations and more</p>
      </div>
    </div>
  </div>


  <div class="ouraprch">
    <div class="container">
      <div class="w-70">
        <h2>OUR APPROACH <br> TO CLAIMS</h2>
      </div>

      <div class="w-70 ml-auto">
        <p>When filing a claim, we are here to take care of you. Our team truly understands what you’re going through
          and
          we’ll treat your claim as if it were our own. We’ll provide the support you need to get you back on your feet
          as
          quickly as possible</p>

        <p class="bordered">
          <strong>WHAT TO EXPECT WHEN FILING A CLAIM</strong>
        </p>

        <div class="listourapch">
          <ul>
            <li> You file a claim online or with our claims concierge</li>
            <li> Elite process your claim</li>
            <li>Elite assigns a vetted service provider or you can choose to use your own</li>
            <li>You schedule the date and time</li>
            <li>Elite follows up when needed</li>
            <li>Service provider performs diagnosis</li>
            <li>Elite reviews the information</li>
            <li>Elite notifies you when your claim is approved or denied</li>
            <li>Elite provide repair or replacement services and pay quickly</li>
          </ul>
          <p class="greenbg"> Breakdowns happen, your home warranty agreement will help cover the cost of needed repairs
            and replacements</p>
        </div>
      </div>
    </div>
  </div>

  <div class="feedbacksec">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="totalrating">
            <h3>5.0</h3>
            <div class="star">
              <img src="assets/images/goldstar.png" alt="" width="20">
              <img src="assets/images/goldstar.png" alt="" width="20">
              <img src="assets/images/goldstar.png" alt="" width="20">
              <img src="assets/images/goldstar.png" alt="" width="20">
              <img src="assets/images/goldstar.png" alt="" width="20">

            </div>
            <br>
            <p>
              We <strong>love </strong> our customers,<br> and they <strong>love </strong> us too!
            </p>
          </div>
        </div>

        <div class="col-md-9">
          <!-- <div class="feedbackslider"> -->
          <ngx-slick-carousel class="carousel" [config]="slideConfigcontent">
            <div class="feeditem" *ngFor="let review of reviewArr" ngxSlickItem>
              <div class="star">
                <img src="assets/images/goldstar.png" alt="" width="20">
                <img src="assets/images/goldstar.png" alt="" width="20">
                <img src="assets/images/goldstar.png" alt="" width="20">
                <img src="assets/images/goldstar.png" alt="" width="20">
                <img src="assets/images/goldstar.png" alt="" width="20">
              </div>
              <br>
              <p [innerHTML]="review.comment"></p>
              <p><strong>{{review?.name}} <br> {{review?.address}}</strong></p>
            </div>
          </ngx-slick-carousel>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="prfsevc">
    <div class="container">
      <div class="topprf">
        <h2>PREFERRED <br> SERVICE <br> PROVIDERS</h2>
        <p>Elite has a large network of vetted service providers to help you when you need us the most</p>
      </div>

      <div class="downprf">
        <div class="row">
          <div class="col-sm-4">
            <h4>Trusted <br> Professionals</h4>
            <p>Elite works with reputable licensed and insured technicians to ensure quality work and top-notch service
            </p>
          </div>

          <div class="col-sm-4">
            <h4>Streamlined <br> Process </h4>
            <p>A modernized process ensuring you’re updated every step of the way to manage claims efficiently</p>
          </div>


          <div class="col-sm-4">
            <h4>Reassuring <br> Service

            </h4>
            <p>Enhanced service backed by our 90-day Workmanship warranty to ensure better outcomes</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="maphead" id="scrollmap">
    <div class="container">
      <div class="w-70">
        <h2>HERE iS WHERE <br>
          WE aRE AVAILABLE</h2>
      </div>
      <div class="w-70 ml-auto">
        <p class="pb-5" style="border-bottom: 10px solid #DAE2D2;">Elite proudly offers home warranties coast to coast.
          We
          are officially licensed and sanctioned as
          an home
          warranty company and offer home warranty products in the following states with more coming soon</p>

        <span class="mapswatch pt-5"><img alt="" src="assets/images/swatchone.png"
            style="margin-right: 20%; margin-bottom: 5px;">
          <img alt="" src="assets/images/swatchthree.png"></span>

        <div class="homeowner__content pt-5" style="border-bottom: 10px solid #DAE2D2; position: relative;">
          <p class="custom__paragraph" style="margin-top: 20px;"><strong class="strong" (click)="status=!status">Select
              a state</strong>
            &nbsp; <img class="custom__paragraph__image" alt="" src="assets/images/downar.png" width="15"
              (click)="status=!status"></p>

          <div class="statedropdown" [ngClass]="status ? 'show' : 'hide'" style="top: 107px;">
            <div class="statelist">
              <a [class]="item?.className" class="statename" *ngFor="let item of mapDataStatic; let i=index"
                style="margin-right: 10px;margin-bottom: 3px;cursor: pointer;">{{item?.title}}</a>
              <!-- (click)="stateSel(item, 'list')" -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="mapSection" style="overflow: hidden; margin: 0 auto;">
    <app-map></app-map>
  </div>

  <div class="benotify mb-5">
    <h3>Be notified when we launch in your state</h3>
    <form>
      <div class="mapnotifyform">
        <input type="text" placeholder="Enter Mobile Number" mask="(000) 000-0000">
        <!-- formControlName="newsLettermobilenum" -->
        <input type="text" placeholder="Enter Zip Code" mask="00000" class="zipinpt">
        <!-- formControlName="newsLetterzipcode" -->
        <button> <span> SEND </span></button>
      </div>

    </form>
  </div>

  <div class="mapcode pt-1 pb-5">
    <div class="container">
      <div class="mapcode-container">
        <h4 (click)="statusstate = !statusstate">Elite Home Warranty Licenses and Registrations #’s.</h4>
        <div class="mapcodelist" [ngClass]="statusstate ? 'show' : 'hide'">
          <ul>
            <ng-container *ngFor="let item of mapDataStatic | sort:'asc':'abbreviation'">
              <li *ngIf="item?.license_number">
                <p>
                  <a [href]="item?.state_url" target="_blank"> {{item?.abbreviation}} {{item?.license_number}}</a>
                </p>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <div class="aiming">
    <div class="container">
      <div class="w-70">
        <h2>We are not just aiming for your satisfaction</h2>
      </div>
      <div class="w-70 ml-auto">
        <p>We want to exceed your expectations every time! So, what can we do better? You tell us! Your feedback is most
          welcome as we continuously improve our services, providing the best care and coverage for homeowners</p>

        <p class="bordered">
          <strong (click)="statusfrm = !statusfrm"> GIVE US FEEDBACK </strong>
        </p>
      </div>


    </div>
  </div>

  <div class="feedform-container" [ngClass]="statusfrm ? 'show' : 'hide'">
    <app-feedbackform></app-feedbackform>
  </div>

  <div class="reliable">
    <div class="boxsec ">
      <div class="boxright boxitem boxfull ">
        <div>
          <h4>EVERY FIVE MINUTES
            SOMEONE GETS AN ELITE <br> HOME WARRENTY SERVICE AGREEMENT</h4>

          <button class="box-btnin" [routerLink]="['/buy-home-warranties']">GET A PLAN </button>
        </div>
        <div class="hoverarea">
          <div>
            <h4>EVERY FIVE MINUTES SOMEONE GETS AN ELITE <br> HOME WARRENTY SERVICE AGREEMENT</h4>
            <button class="box-btnin" [routerLink]="['/buy-home-warranties']">GET A PLAN</button>
          </div>
        </div>

      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="col-sm-6">
          <h4>Reliable service you can trust. <br>
            We are here when you need us the most</h4>

          <p>
            When things happen, we are here to help. We’re committed to be here for you with the most reliable, caring
            and
            prompt response possible. We provide the
            exceptional service we would like to experience ourselves.
          </p>
        </div>


        <div class="col-sm-6">
          <h4>Switching to us from another provider? <br>
            We can help</h4>

          <p>
            You can change your home warranty service provider at any time. When switching
            to us, we will fluctuate the waiting period of 30 days to provide you with new
            coverage from the expiration date of your existing agreement to ensure that your
            home warranty coverage will not lapse
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="discover">
    <div class="container">
      <h2 class="text-center">
        DISCOVER OUR HOME WARRANTIES AND CHOOSE THE RIGHT
        PLAN FOR YOUR HOME
      </h2>

      <div class="boxsec">
        <div class="boxleft boxitem" [class.hoverclass]="changeText1">
          <h4>Elite Appliances</h4>
          <p>Enhanced coverage to repair or replace any of the following home appliances with 3x higher coverage limit
            than traditional home warranties</p>

          <ul>
            <li>
              <strong>Refrigerator including ice maker </strong>
            </li>

            <li>
              <strong>Clothes Washer </strong>
            </li>

            <li>
              <strong>Clothes Dryer</strong>
            </li>

            <li>
              <strong>Dishwasher</strong>
            </li>

            <li>
              <strong>Range/Oven/Cooktop</strong>
            </li>
            <li>
              <strong>Built-In Microwave </strong>
            </li>

            <li>
              <strong>Trash Compactor</strong>
            </li>

            <li>
              <strong>Garbage Disposal</strong>
            </li>
          </ul>
          <div class="hoverarea">
            <div class="movabelsection">
              <h4>Elite Appliances</h4>

              <h4 class="priceplan">STARTING AT $32</h4>
              <br>
              <!-- <button class="box-btnin">see pricing</button> -->
            </div>
          </div>
          <div class="box-btn-div" (mouseover)="changeText1=true" (mouseout)="changeText1=false">
            <button class="box-btn">
              <span *ngIf='!changeText1'>see pricing</span>
              <span *ngIf='changeText1'>Get A Plan</span></button>
          </div>
        </div>


        <div class="boxright boxitem" [class.hoverclass]="changeText2">
          <h4>Elite Systems</h4>
          <p>Enhanced coverage to repair or replace any of the following home appliances with 3x higher coverage limit
            than traditional home warranties</p>

          <ul>
            <li>
              <strong>Air Conditioning including Ductwork</strong>
            </li>

            <li>
              <strong>Heating including Ductwork </strong>
            </li>

            <li>
              <strong>Plumbing System</strong>
            </li>

            <li>
              <strong>Plumbing Stoppages</strong>
            </li>

            <li>
              <strong>Electrical System</strong>
            </li>
            <li>
              <strong>Water Heater </strong>
            </li>

            <li>
              <strong>Garage Door System</strong>
            </li>


          </ul>
          <div class="hoverarea">
            <div class="movabelsection">
              <h4>Elite Systems</h4>

              <h4 class="priceplan">STARTING AT $32</h4>
              <br>
              <!-- <button class="box-btnin">see pricing</button> -->
            </div>
          </div>
          <div class="box-btn-div" (mouseover)="changeText2=true" (mouseout)="changeText2=false">
            <button class="box-btn">
              <span *ngIf='!changeText2'>see pricing</span>
              <span *ngIf='changeText2'>Get A Plan</span></button>
          </div>
        </div>
      </div>

      <div class="boxsec ">
        <div class="boxleft boxitem boxfull" [class.hoverclass]="changeText3">
          <span class="bstvlu">Best Value</span>
          <h4>Elite Complete</h4>
          <p>Enhanced coverage to repair or replace any of the following home appliances and systems with 3x <br> higher
            coverage limit than traditional home warranties</p>

          <div class="d-flex justify-content-around">
            <ul>
              <li>
                <strong>Refrigerator including ice maker </strong>
              </li>

              <li>
                <strong>Clothes Washer </strong>
              </li>

              <li>
                <strong>Clothes Dryer</strong>
              </li>

              <li>
                <strong>Dishwasher</strong>
              </li>

              <li>
                <strong>Range/Oven/Cooktop</strong>
              </li>
              <li>
                <strong>Built-In Microwave </strong>
              </li>


            </ul>


            <ul>
              <li>
                <strong>Trash Compactor</strong>
              </li>

              <li>
                <strong>Garbage Disposal </strong>
              </li>

              <li>
                <strong>Air Conditioning including Ductwork</strong>
              </li>

              <li>
                <strong>Heating including Ductwork</strong>
              </li>

              <li>
                <strong>Electrical System</strong>
              </li>
              <li>
                <strong>Plumbing System </strong>
              </li>
              <li>
                <strong>Limited Roof Leak Repair

                </strong>
              </li>

            </ul>


            <ul>
              <li>
                <strong>Plumbing Stoppages</strong>
              </li>

              <li>
                <strong>Water Heater </strong>
              </li>

              <li>
                <strong>Garage Door System</strong>
              </li>

              <li>
                <strong>Door Bells</strong>
              </li>

              <li>
                <strong>Smoke Detector</strong>
              </li>
              <li>
                <strong>Ceiling Fans </strong>
              </li>




            </ul>
          </div>

          <div class="hoverarea">
            <div class="movabelsection">
              <h4>Elite Complete</h4>

              <h4 class="priceplan">STARTING AT $32</h4>
              <br>
              <!-- <button class="box-btnin">see pricing</button> -->
            </div>
          </div>
          <div class="box-btn-div" (mouseover)="changeText3=true" (mouseout)="changeText3=false">
            <button class="box-btn">
              <span *ngIf='!changeText3'>see pricing</span>
              <span *ngIf='changeText3'>Get A Plan</span></button>
          </div>
        </div>


      </div>


      <div class="boxsec">
        <div class="boxleft boxitem" [class.hoverclass]="changeText4">
          <h4>Elite Electronics</h4>
          <p>Enhanced coverage to repair or replace any of the following home electronics with 2x higher coverage limit
            than traditional home warranties</p>

          <ul>
            <li>
              <strong>TVs</strong>
            </li>

            <li>
              <strong>Computers </strong>
            </li>

            <li>
              <strong>Laptops</strong>
            </li>


          </ul>
          <div class="hoverarea">
            <div class="movabelsection">
              <h4>Elite Electronics</h4>

              <h4 class="priceplan">STARTING AT $32</h4>
              <br>
              <!-- <button class="box-btnin">see pricing</button> -->
            </div>
          </div>
          <div class="box-btn-div" (mouseover)="changeText4=true" (mouseout)="changeText4=false">
            <button class="box-btn">
              <span *ngIf='!changeText4'>see pricing</span>
              <span *ngIf='changeText4'>Get A Plan</span></button>
          </div>
        </div>

        <div class="boxright boxitem" [class.hoverclass]="changeText5">
          <h4>Elite Service Line</h4>
          <p>Enhanced coverage to repair or replace any of the following home service lines with 2x higher coverage
            limit
            than traditional home warranties</p>

          <ul>
            <li>
              <strong>Sewer Line</strong>
            </li>

            <li>
              <strong>Water Line </strong>
            </li>


          </ul>
          <div class="hoverarea">
            <div class="movabelsection">

              <h4>Elite Service Line</h4>

              <h4 class="priceplan">STARTING AT $32</h4>
              <br>
              <!-- <button class="box-btnin">see pricing</button> -->
            </div>
          </div>
          <div class="box-btn-div" (mouseover)="changeText5=true" (mouseout)="changeText5=false">
            <button class="box-btn">
              <span *ngIf='!changeText5'>see pricing</span>
              <span *ngIf='changeText5'>Get A Plan</span></button>
          </div>
        </div>
      </div>

      <div class="boxsec ">
        <div class="boxleft boxitem boxfull" [class.hoverclass]="changeText6">
          <span class="bstvlu">MORE PERSONALIZED</span>
          <h4>Customize Your Own</h4>
          <p>Only pay for the coverage you need. Select the
            items you want to cover, and set coverage limits for each added item. We offer enhanced home warranty
            plans that can be customized by you with 3x higher coverage limit than traditional home warranties.</p>

          <div class="d-flex justify-content-around">
            <ul>
              <li>
                <strong>Refrigerator including ice maker

                </strong>
              </li>

              <li>
                <strong>Clothes Washer </strong>
              </li>

              <li>
                <strong>Clothes Dryer</strong>
              </li>

              <li>
                <strong>Dishwasher</strong>
              </li>

              <li>
                <strong>Range/Oven/Cooktop</strong>
              </li>
              <li>
                <strong>Built-In Microwave </strong>
              </li>


            </ul>


            <ul>
              <li>
                <strong>Trash Compactor</strong>
              </li>

              <li>
                <strong>Garbage Disposal </strong>
              </li>

              <li>
                <strong>Air Conditioning including Ductwork</strong>
              </li>

              <li>
                <strong>Heating including Ductwork</strong>
              </li>

              <li>
                <strong>Electrical System</strong>
              </li>
              <li>
                <strong>Plumbing System</strong>
              </li>


            </ul>


            <ul>
              <li>
                <strong>Plumbing Stoppages</strong>
              </li>

              <li>
                <strong>Water Heater </strong>
              </li>

              <li>
                <strong>Garage Door System</strong>
              </li>

              <li>
                <strong>Door Bells</strong>
              </li>

              <li>
                <strong>Smoke Detector</strong>
              </li>
              <li>
                <strong>Ceiling Fans </strong>
              </li>

            </ul>
          </div>

          <div class="hoverarea">
            <div class="movabelsection">
              <h4>Customize Your Own</h4>
              <h4 class="priceplan">STARTING AT $32</h4>
              <br>
              <!-- <button class="box-btnin">see pricing</button> -->
            </div>
          </div>
          <div class="box-btn-div" (mouseover)="changeText6=true" (mouseout)="changeText6=false">
            <button class="box-btn">
              <span *ngIf='!changeText6'>see pricing</span>
              <span *ngIf='changeText6'>Get A Plan</span></button>
          </div>
        </div>


      </div>


      <div class="boxsec ">
        <div class="boxright boxitem boxfull" [class.hoverclass]="changeText7">

          <h4>Optional Coverage </h4>
          <p>We set a new standard of home warranties and increase protection for what’s <br>
            important by offering optional coverage that can be added to any plan</p>

          <div class="d-flex justify-content-around">
            <ul>
              <li>
                <strong>Door Bells

                </strong>
              </li>

              <li>
                <strong>Smoke Detector

                </strong>
              </li>

              <li>
                <strong>Ceiling Fans</strong>
              </li>

              <li>
                <strong>Septic System</strong>
              </li>

              <li>
                <strong>Sump Pump</strong>
              </li>
              <li>
                <strong>Grinder Pump </strong>
              </li>


            </ul>


            <ul>
              <li>
                <strong>Ejector Pump </strong>
              </li>

              <li>
                <strong>Pool and Spa Equipment</strong>
              </li>

              <li>
                <strong>Central Vacuum</strong>
              </li>

              <li>
                <strong>Water Filtration System </strong>
              </li>

              <li>
                <strong>Plumbing Fixtures</strong>
              </li>
              <li>
                <strong>Stand Alone Freezer </strong>
              </li>


            </ul>


            <ul>
              <li>
                <strong>Free Standing Ice Maker </strong>
              </li>
              <li>
                <strong>Lawn Sprinkler System</strong>
              </li>



              <li>
                <strong>Electronics</strong>
              </li>

              <li>
                <strong>Service Line</strong>
              </li>
              <li>
                <strong>Limited Roof Leak Repair </strong>
              </li>

            </ul>
          </div>

          <div class="hoverarea">
            <div class="movabelsection">
              <h4>Optional Coverage</h4>

              <h4 class="priceplan">STARTING AT $32</h4>
              <br>
              <!-- <button class="box-btnin">see pricing</button> -->
            </div>
          </div>
          <div class="box-btn-div" (mouseover)="changeText7=true" (mouseout)="changeText7=false">
            <button class="box-btn">
              <span *ngIf='!changeText7'>see pricing</span>
              <span *ngIf='changeText7'>Get A Plan</span></button>
          </div>
        </div>


      </div>


      <!-- <div class="boxsec ">
        <div class="boxright boxitem boxfull">

          <h4>Optional Coverage</h4>
          <p>We set a new standard of home warranties and increase protection for what’s <br>
            important by offering optional coverage that can be added to any plan</p>

          <div class="d-flex justify-content-around">
            <ul>
              <li>
                <strong>Door Bells

                </strong>
              </li>

              <li>
                <strong>Smoke Detector

                </strong>
              </li>

              <li>
                <strong>Ceiling Fans</strong>
              </li>

              <li>
                <strong>Septic System</strong>
              </li>

              <li>
                <strong>Sump Pump</strong>
              </li>
              <li>
                <strong>Grinder Pump </strong>
              </li>


            </ul>


            <ul>
              <li>
                <strong>Ejector Pump </strong>
              </li>

              <li>
                <strong>Pool and Spa Equipment</strong>
              </li>

              <li>
                <strong>Central Vacuum</strong>
              </li>

              <li>
                <strong>Water Filtration System </strong>
              </li>

              <li>
                <strong>Plumbing Fixtures</strong>
              </li>
              <li>
                <strong>Stand Alone Freezer </strong>
              </li>


            </ul>


            <ul>
              <li>
                <strong>Free Standing Ice Maker </strong>
              </li>
              <li>
                <strong>Lawn Sprinkler System</strong>
              </li>



              <li>
                <strong>Electronics</strong>
              </li>

              <li>
                <strong>Service Line</strong>
              </li>
              <li>
                <strong>Limited Roof Leak Repair </strong>
              </li>

            </ul>
          </div>


          <button class="box-btn">see pricing</button>
        </div>


      </div> -->

    </div>
  </div>



  <div class="truecare">
    <div class="w-80 ml-auto">
      <h2>BECAUSE WE TRULY CARE. <br> WE ARE MORE THAN FAIR </h2>
      <p>Elite minimizes the exclusions and limitations to provide better coverage and less restrictions with 3x higher
        coverage limit than traditional home warranties which means you get an added layer of protection with any plan
      </p>

      <p class="bordered">
        <strong>
          We provide enhanced repair and replacement agreement that include coverage for
        </strong>
      </p>

      <ul>
        <li>
          - Undetectable pre-existing conditions
        </li>

        <li>
          - Items without maintenance records
        </li>

        <li>
          - Breakdowns caused by insufficient maintenance
        </li>

        <li>
          - Mismatched systems
        </li>
        <li>
          - Older items no matter their age
        </li>
        <li>
          - All brands, makes and models
        </li>
        <li>
          - Code violations and permits
        </li>
        <li>
          - Improper installations, repairs or modifications
        </li>
        <li>
          - Malfunctions due to rust, corrosion or sediment
        </li>
        <li>
          - Duplicates of any covered items, we cover the first one to break
        </li>
        <li>
          - Cranes or other lifting equipment
        </li>
        <li>
          - Lodging expenses and food spoilage
        </li>

        <li>
          - Recapture, reclaim and dispose of refrigerant
        </li>
        <li>
          - Dismantle and removal of defective equipment and items
        </li>
      </ul>

      <p class="greentext">
        Limitations and exclusions apply. <br>
        Please see our service agreement for full details.
      </p>
    </div>
  </div>


  <div class="homefoot">
    <div class="container-fluid">
      <div class="d-flex row">
        <div class="lftfoot">
          <strong>Cynthia N of Dacula, GA just saved $875 on a refrigerator claim.</strong>
        </div>

        <div class="rtfoot">
          <a [routerLink]="['/buy-home-warranties']"> <strong>GET A PLAN</strong> </a>
        </div>
      </div>
    </div>
  </div>

  <app-landing></app-landing>
</div>


<div>



</div>
