<div class="compare-page">
    <div class="container-fluid">
   

    <div class="compareh3 text-center">
        <h3>COMPARE PLANS</h3>
        
    </div>

    

   

    <div class="collapse-compare">
        <div class="itemcomparea">
        <div class="comitems align-items-end">
        <div class="comitems-name">
            <small>Click a system or appliance to view coverage details and exclusions.</small>
        </div>

        <div class="comitems-prod">
            <img src="assets/images/compitem1.png" alt="">
            
        </div>

        <div class="comitems-prod">
            <img src="assets/images/compitem2.png" alt="">
        </div>
        <div class="comitems-prod">
            <img src="assets/images/compitem3.png" alt="">
        </div>

        <div class="comitems-prod bestsell">
            <span>Best Value</span>
            <img src="assets/images/compitem4.png" alt="">
        </div>
        </div>

        <div class="comitems">
            <div class="comitems-name">
               <h3>APPLIANCES:</h3>
            </div>
    
            <div class="comitems-prod">
               &nbsp;
                
            </div>
    
            <div class="comitems-prod">
                &nbsp;
            </div>
            <div class="comitems-prod">
                &nbsp;
            </div>
    
            <div class="comitems-prod bestsell">
                &nbsp;
            </div>
            </div>

            <div class="comitems">
                <div class="comitems-name">
                   <h3>APPLIANCES:</h3>
                </div>
        
                <div class="comitems-prod">
                   &nbsp;
                    
                </div>
        
                <div class="comitems-prod">
                    &nbsp;
                </div>
                <div class="comitems-prod">
                    &nbsp;
                </div>
        
                <div class="comitems-prod bestsell">
                    &nbsp;
                </div>
                </div>


    </div>
    </div>
    </div>
</div>
    <div class="grysec">
        <div class="container-fluid">
        <div class="alwssec text-center">
            <h2>ALWAYS ON <span>YOUR SIDE</span></h2>

            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="sideitem">
                        <img src="assets/images/item-compare.png" alt="" class="img-fluid">
                        <h3>TITLE HERE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="sideitem">
                        <img src="assets/images/item-compare.png" alt="" class="img-fluid">
                        <h3>TITLE HERE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="sideitem">
                        <img src="assets/images/item-compare.png" alt="" class="img-fluid">
                        <h3>TITLE HERE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="sideitem"> 
                        <img src="assets/images/item-compare.png" alt="" class="img-fluid">
                        <h3>TITLE HERE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>

       
</div>

<div class="qssec text-center">

    <div class="compare-page">
        <div class="container-fluid">
    <h3>Question And Answer</h3>
    <p>Here are answers to all of the  commonly asked   questions about Elite Home Warrenty and home warrenties in genral</p>

    <div class="qsnav">
        <ul>
            <li  class="active">
                <a>FREQUENTLY ASKED QUESTIONS </a>
            </li>

            <li>
                <a>SERVICE ANO COVERAGE </a>
            </li>

            <li>
                <a>PLANS ANO PRICING  </a>
            </li>

            <li>
                <a> BENEFITS </a>
            </li>

            <li>
                <a>MY ELITE HOME WARRANTY ACCOUNT </a>
            </li>

            <li>
                <a>HOME BUYERS AND SELLERS</a>
            </li>
        </ul>
    </div>

    </div>
    </div>

    <div class="qscllps text-left">
        <div class="compare-page">
            <div class="container-fluid">

                <p>Here are answers to all of the commonly asked questions about Elite Home Warranty and Some warranties in general.</p>
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is a home warranty?
                        </mat-panel-title>
                       
                      </mat-expansion-panel-header>
                      A home warranty is a service contract that covers the cost of repairs and replacement for your home's systems and appliances when they break down over time from standard wear and tear.
                   
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            Why do I need a home warranty?
                        </mat-panel-title>
                       
                      </mat-expansion-panel-header>
                      fffh
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Why is buying a home warranty a good decision for my budget?
                          </mat-panel-title>
                         
                        </mat-expansion-panel-header>
                        fffh
                      </mat-expansion-panel>


                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Do I have to have a home inspection before I can get an Liberty Home Guard Home Warranty?
                          </mat-panel-title>
                         
                        </mat-expansion-panel-header>
                        fffh
                      </mat-expansion-panel>
                  </mat-accordion>
                  
                </div>
                </div>
    </div>
</div>

