<div class="inner-container commonpage">
  <div class="container">
    <div class="homeowner__header">
      <h2>Elite Home Warranty <br>
        Partners With Title
        <br>
        Agencies</h2>
    </div>
    <div class="homeowner__content">
      <div></div>
      <p>Home warranties are a valuable commodity
        in real estate transactions. Sellers and
        buyers both benefit when a home is
        covered by a home warranty. Sellers know
        that home warranties incentivize home
        sales and can be part of negotiations
      </p>
    </div>
    <div class="homeowner__content">
      <div></div>
      <p class="custom__paragraph"><span>APPLY NOW </span> to join the Elite Home Warranty
        partnership network!</p>
    </div>
    <br><br>
    <div class="homeowner__content w-100">
      <div class="w-50 m-auto">
        <div class="land-form-title">
          <h3>TITLE AGENCIES</h3>
          <p>{{providersFormQuestion?.title_agencies[selectedInddex]}}</p>
        </div>
        <mat-horizontal-stepper [linear]="false" #stepper>
          <mat-step [stepControl]="ChooseFormgroup">
            <p style="width: 104%;"> Would you like to go over and edit your previous application ?</p>
            <div class="access__btn__sec">
              <div class="form-fld text-center" style="width: 72%;margin: 0 auto;">
                <div class="actionControl fullSzBtn">
                  <button type="button" class="submit-btn" (click)="accessForm('acsess')">
                    <span>ACCESS MY APPLICATION</span>
                  </button>
                </div>
              </div>
              <div class="form-fld text-center" style="width: 100%;">
                <div class="actionControl fullSzBtn">
                  <button type="button" class="submit-btn" (click)="accessForm('New')">
                    <span>CREATE NEW APPLICATION</span>
                  </button>

                </div>
              </div>
            </div>
          </mat-step>
          <mat-step [stepControl]="basicInfoForm">
            <form [formGroup]="basicInfoForm">
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="name" placeholder="Enter Full Name"
                    (keyup)="replaceMorethenoneSpace($event, 'Uname')" (blur)="removelastspace($event, 'Uname')">
                  <label>Enter Full Name</label>
                </div>
                <mat-error
                  *ngIf="basicInfoForm.controls.name.touched && basicInfoForm.controls.name.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="basicInfoForm.controls.name.touched && basicInfoForm.controls.name.hasError('pattern')">
                  Full name is incorrect.
                </mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" mask="(000) 000-0000" matInput formControlName="mobile"
                    placeholder="Enter Mobile Number">
                  <label>Enter Mobile Number</label>
                </div>
                <mat-error
                  *ngIf="basicInfoForm.controls.mobile.touched && basicInfoForm.controls.mobile.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="basicInfoForm.controls.mobile.touched && basicInfoForm.controls.mobile.hasError('minlength')">
                  Mobile number must have 10 digits.
                </mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="email" placeholder="Enter Email Address"
                    (keyup)="restrictSpace($event)">
                  <label>Enter Email Address</label>
                </div>
                <mat-error
                  *ngIf="basicInfoForm.controls.email.touched && basicInfoForm.controls.email.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="basicInfoForm.controls.email.touched && basicInfoForm.controls.email.hasError('pattern')">
                  Email is invalid.
                </mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="actionControl">
                  <button type="button" class="submit-btn"
                    (click)="validateForm(stepper, 'basicInfoForm', 1)"><span>CONTINUE</span></button>
                </div>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="companyInfoForm">
            <form [formGroup]="companyInfoForm">
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="companyName" placeholder="Company Name"
                    (keyup)="replaceMorethenoneSpace($event, 'Cname')" (blur)="removelastspace($event, 'Cname')">
                  <label>Company Name</label>
                </div>
                <mat-error
                  *ngIf="companyInfoForm.controls.companyName.touched && companyInfoForm.controls.companyName.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="companyInfoForm.controls.companyName.touched && companyInfoForm.controls.companyName.hasError('pattern')">
                  Company name is incorrect.
                </mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="address" placeholder="Company Address" #location>
                  <label>Company Address</label>
                </div>
                <mat-error
                  *ngIf="companyInfoForm.controls.address.touched && companyInfoForm.controls.address.hasError('required')">
                  This field is required.
                </mat-error>
                <ng-container
                  *ngIf="companyInfoForm.controls.address.touched && !companyInfoForm.controls.address.hasError('required')">
                  <mat-error *ngIf="!addressSeldcted">
                    Please select any address from the list.
                  </mat-error>
                  <mat-error *ngIf="companyInfoForm.controls.state.hasError('required') && addressSeldcted">
                    Address must contains any state.
                  </mat-error>
                  <mat-error *ngIf="companyInfoForm.controls.city.hasError('required') && addressSeldcted">
                    Address must contains any city.
                  </mat-error>

                  <mat-error *ngIf="companyInfoForm.controls.zipCode.hasError('required') && addressSeldcted">
                    Address must contains any zipcode.
                  </mat-error>
                </ng-container>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="additionalAddress" placeholder="Apartment, floor #" #csp>
                  <label>Apartment, floor #</label>
                </div>
                <mat-error
                  *ngIf="companyInfoForm.controls.additionalAddress.touched && companyInfoForm.controls.additionalAddress.hasError('required')">
                  This field is required.</mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="zipCode" placeholder="Zipcode" #csp readonly>
                  <label>Zipcode</label>
                </div>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="city" placeholder="City" #csp>
                  <label>City</label>
                </div>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="state" placeholder="State" #csp>
                  <label>State</label>
                </div>
              </div>
              <div class="btn-sec">
                <div class="form-fld text-center" style="margin-bottom: 0px;">
                  <div class="actionControl">
                    <button type="button" class="submit-btn" (click)="goBack(stepper)"><span>GO
                        BACK</span></button>
                  </div>
                </div>
                <div class="form-fld text-center">
                  <div class="actionControl">
                    <button type="button" class="submit-btn"
                      (click)="validateForm(stepper, 'companyInfoForm', 2)"><span>CONTINUE</span></button>
                  </div>
                </div>
              </div>

            </form>
          </mat-step>

          <mat-step [stepControl]="businessContactForm">
            <form [formGroup]="businessContactForm">
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" matInput formControlName="business_email" placeholder="Business Email Address"
                    (keyup)="restrictSpace($event)">
                  <label>Business Email Address</label>
                </div>
                <mat-error
                  *ngIf="businessContactForm.controls.business_email.touched && businessContactForm.controls.business_email.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="businessContactForm.controls.business_email.touched && businessContactForm.controls.business_email.hasError('pattern')">
                  Email is invalid.
                </mat-error>
              </div>
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" mask="(000) 000-0000" matInput formControlName="business_phone"
                    placeholder="Business Phone Number">
                  <label>Business Phone Number</label>
                </div>
                <mat-error
                  *ngIf="businessContactForm.controls.business_phone.touched && businessContactForm.controls.business_phone.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="businessContactForm.controls.business_phone.touched && businessContactForm.controls.business_phone.hasError('minlength')">
                  Phone number must have 10 digits.
                </mat-error>
              </div>

              <div class="btn-sec">
                <div class="form-fld text-center" style="margin-bottom: 0px;">
                  <div class="actionControl">
                    <button type="button" class="submit-btn" (click)="goBack(stepper)"><span>GO
                        BACK</span></button>
                  </div>
                </div>
                <div class="form-fld text-center">
                  <div class="actionControl">
                    <button type="button" class="submit-btn"
                      (click)="validateForm(stepper, 'businessContactForm', 3)"><span>CONTINUE</span></button>
                  </div>
                </div>
              </div>

            </form>
          </mat-step>

          <mat-step [stepControl]="licensedTechniciansForm">
            <form [formGroup]="licensedTechniciansForm">
              <div class="form-fld text-center">
                <div class="formControl">
                  <input type="text" mask="0*" matInput formControlName="licensed_employees"
                    placeholder="Number of Agents">
                  <label>Number of Agents</label>
                </div>
                <mat-error
                  *ngIf="licensedTechniciansForm.controls.licensed_employees.touched && licensedTechniciansForm.controls.licensed_employees.hasError('required')">
                  This field is required.
                </mat-error>
              </div>

              <div class="btn-sec">
                <div class="form-fld text-center" style="margin-bottom: 0px;">
                  <div class="actionControl">
                    <button type="button" class="submit-btn" (click)="goBack(stepper)"><span>GO
                        BACK</span></button>
                  </div>
                </div>
                <div class="form-fld text-center">
                  <div class="actionControl">
                    <button type="button" class="submit-btn"
                      (click)="validateForm(stepper, 'licensedTechniciansForm', 4)"><span>CONTINUE</span></button>
                  </div>
                </div>
              </div>

            </form>
          </mat-step>

          <mat-step [stepControl]="additionalStateForm">
            <form [formGroup]="additionalStateForm">
              <div class="form-fld text-center">
                <div class="formControl">
                  <input matInput type="text" formControlName="availability" placeholder="Add State"
                    [matAutocomplete]="autounique1" [disabled]="additionalStateForm.controls.nationWide.value"
                    (keyup)="searchfilter($event)" multiple>
                  <label>Add State</label>
                  <mat-autocomplete #autounique1="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let State of filteredStates" [value]="selectedState">
                      <div (click)="stateOptionClicked($event, State)">
                        <mat-checkbox [checked]="State.selected" (change)="toggleStateSelection(State)"
                          (click)="$event.stopPropagation()">
                          {{State?.title}}
                        </mat-checkbox>
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </div>
                <div *ngIf="selectedState">
                  <ul style="list-style: none; margin: 0; padding: 10px 10px 0 10px; display: flex; flex-wrap: wrap;">
                    <li *ngFor="let item of selectedState">
                      <mat-checkbox [checked]="item?.selected" (click)="removeState(item)">
                        <p>
                          {{item?.title}}
                        </p>
                      </mat-checkbox>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-fld text-center">
                Or
              </div>
              <div class="form-fld text-center">
                <mat-checkbox formControlName="nationWide">Nationwide</mat-checkbox>
                <mat-error
                  *ngIf="additionalStateForm.controls.nationWide.touched && additionalStateForm.controls.nationWide.hasError('required')">
                  This field is required.
                </mat-error>
              </div>

              <div class="btn-sec">
                <div class="form-fld text-center" style="margin-bottom: 0px;">
                  <div class="actionControl">
                    <button type="button" class="submit-btn" (click)="goBack(stepper)"><span>GO
                        BACK</span></button>
                  </div>
                </div>
                <div class="form-fld text-center">
                  <div class="actionControl">
                    <button type="button" class="submit-btn"
                      (click)="validateForm(stepper, 'additionalStateForm', 5)"><span>CONTINUE</span></button>
                  </div>
                </div>
              </div>

            </form>
          </mat-step>

          <mat-step [stepControl]="commentBoxForm">
            <form [formGroup]="commentBoxForm">
              <div class="form-fld text-center">
                <div class="formControl" style="height: 75px;">
                  <textarea matInput formControlName="comments" placeholder="Comment box"
                    (keyup)="replaceMorethenoneSpace($event, 'comments')" (blur)="removelastspace($event, 'comments')"
                    style="width: 100%;">
                  </textarea>
                  <label>Comment box</label>
                </div>
                <mat-error
                  *ngIf="commentBoxForm.controls.comments.touched && commentBoxForm.controls.comments.hasError('required')">
                  This field is required.
                </mat-error>
              </div>

              <div class="btn-sec">
                <div class="form-fld text-center" style="margin-bottom: 0px;">
                  <div class="actionControl">
                    <button type="button" class="submit-btn" (click)="goBack(stepper)"><span>GO
                        BACK</span></button>
                  </div>
                </div>
                <div class="form-fld text-center">
                  <div class="actionControl">
                    <button type="button" class="submit-btn"
                      (click)="validateForm(stepper, 'commentBoxForm', 9)"><span>CONTINUE</span></button>
                  </div>
                </div>
              </div>

            </form>
          </mat-step>
          <mat-step [stepControl]="stepFinishForm">
            <form [formGroup]="stepFinishForm">
              <div class="form-fld text-center">
                <p style="width: 100%;">Thank you for your interest in becoming one of our preferred title companies,
                  you will receive
                  email confirmation along with your account login credentials once your title company account is
                  approved.</p>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
        <!-- </form> -->
      </div>
    </div>

    <div class="homeowner__header mt-5">
      <h3 class="w-70">Why Title Agencies
        Partner With Elite Home
        Warranty
      </h3>
    </div>
    <div class="homeowner__content" style="display: block;">
      <div class="w-70 ml-auto">
        <div class="w-60 ">


          <small>
            Title agents have an opportunity to get in on the
            valuable and common practice wherein real estate
            agents or home sellers purchase and offer home
            warranties with the sale of a home
          </small>
        </div>
      </div>
      <div class="w-70 mt-5 mb-5 ml-auto">
        <div class="w-70 ml-auto">


          <small>
            This is an important step that can shorten
            negotiations and offset any drawbacks to a
            home being older or having older appliances or
            systems. Buyers and sellers alike can gain peace
            of mind knowing that a home is covered if any of
            these break down
          </small>
        </div>

        <div class="greenline"></div>

        <br>
        <br>
        <p class="w-60">
          This is what makes us great to homeowners
          and it’s what makes us great as a partner
        </p>
      </div>

    </div>



    <div class="homeowner__header mt-5">
      <h3 class="w-70">Title Agency
        Requirements
      </h3>
    </div>

    <div class="homeowner__content justify-content-end">
      <div class="w-70">

        <br> <br>
        <small class="w-100">
          Every individual or agency we partner with will
          undergo a verification and approval process. Fill
          out the above application and attach any
          recommended or required documents. Contact us
          with any questions
        </small>
        <br> <br>

      </div>
    </div>


    <div class="homeowner__header mt-5">
      <h3 class="w-60">Title Agency
        Partnership
        Benefits</h3>
    </div>
    <div class="homeowner__content">
      <div class="w-70">

        <p class="w-100">There are numerous benefits for title agents who
          join the Elite Home Warranty partnership network.
          All of your paperwork can be organized and
          accessed digitally. Login to your EHW account and
          immediately gain the ability to</p>


        <div class="accr-common">



          <div class="row">
            <div class="col-lg-6 text-left">
              <img src="assets/images/cpn1.png" alt="" class="img-fluid"><br>
              <p class="w-100">
                Create new proforma
                invoices
              </p><br>
            </div>
            <div class="col-lg-6 text-left">
              <img src="assets/images/cpn2.png" alt="" class="img-fluid"><br>
              <p class="w-100">
                Email invoices to other
                people
              </p><br>
            </div>

            <div class="col-lg-6 text-left">
              <img src="assets/images/cpn3.png" alt="" class="img-fluid"><br>
              <p class="w-100">
                Pay for invoices
              </p><br>
            </div>
            <div class="col-lg-6 text-left">
              <img src="assets/images/cpn4.png" alt="" class="img-fluid"><br>
              <p class="w-100">
                Get closing documents
              </p><br>
            </div>

            <div class="col-lg-6 text-left">
              <img src="assets/images/cpn5.png" alt="" class="img-fluid"><br>
              <p class="w-100">
                Change the closing date
              </p><br>
            </div>
            <div class="col-lg-6 text-left">
              <img src="assets/images/cpn6.png" alt="" class="img-fluid">
              <br>
              <p class="w-100">
                Update policy details
              </p><br>
            </div>
          </div>



        </div>
      </div>
    </div>









    <div class="homeowner__header mt-5">
      <h3 class="w-60">Learn More About
        Partnering With Elite
        Home Warranty</h3>
    </div>
    <div class="homeowner__content">
      <div class="w-65">


        <small>Elite Home Warranty was founded on the virtues
          of honesty and transparency. We are favored by
          homeowners because we have clear terms and
          conditions and the most inclusive, customizable
          plans in the industry. For a home warranty to truly
          work, it needs to be easy to file claims and get a
          qualified service provider into people s homes</small>
      </div>
    </div>


    <div class="homeowner__content justify-content-end mt-5">
      <p class="w-70" style="background: #dae2d2; padding: 20px;"> If you want more details or have questions,
        <strong>contact us</strong> today!</p>
    </div>

    <div style="clear: both;"></div>


    <div class="ps-section">
      <div class="ps">
        P.S
      </div>
      <div class="w-100">
        <h2>Building the future of
          home warranties together</h2>
      </div>
    </div>

  </div>
</div>
