<div class="inner-container commonpage">
    <div class="container">
      <div class="homeowner__header">
        <h2>Why Buyers and <br>
          Sellers Choose Elite<br>
          Home Warranty</h2> 
      </div>
      <div class="homeowner__content">
        <div></div>
        <p>Elite Home Warranty is the best home
          warranty provider, known for being
          transparent, trustworthy and offering the
          best customization in the business</p>
      </div>
      <div class="homeowner__content">
        <div></div>
        <p class="custom__paragraph"><span>Contact us </span> to learn more about how we work
          with buyers, sellers and real estate professionals</p>
      </div>
  
      <div class="homeowner__header mt-5">
        <h3 class="w-60">Pros of a Home
          Warranty for <span>Buyers</span></h3>
      </div>
      <div class="homeowner__content">
        <div class="w-65" >
         <img src="assets/images/buyers1.png" alt="" class="img-fluid">
          <div class="greenline"></div>

          <p class="w-100 mt-5" >A home warranty is a great motivator for a
prospective buyer. If you are buying or selling a
home, know that home warranty service
agreements are an important distinctive and can
aid negotiations</p>
        </div>
      </div>
  
     
   
      <div class="homeowner__header ">
  
          <h4 class="w-70 ml-auto border-bottm ">we offer homeowners:</h4>
      </div>
      <div class="homeowner__content"> 
          <ol>
            <li>
              <p>Services 24 Hours 
  
                a day - 7 days a week</p>
            </li>
  
            <li>
              <p>Simplified claims
                filing process
                </p>
            </li>
  
  
            <li>
              <p>Transparent
                coverage</p>
            </li>
  
            <li>
              <p>The highest level of
                custom plans</p>
            </li>
  
  
            <li>
              <p>The ability to increase
                caps on covered items</p>
            </li>
  
            <li>
              <p>The ability to choose
                your own technicians</p>
            </li>
  
            <li>
              <p>Optional electronic coverage
                </p>
            </li>
  
            <li>
              <p>Optional exterior
                plumbing coverage</p>
            </li>
          </ol>

          
      </div>
      <div class="homeowner__content justify-content-end">
        <p class="w-70" style="background: #dae2d2; padding: 20px;">
          Elite Home Warranty plans are fully transferable,
so when a home is sold, the warranty can come
along with it!
        </p>
        </div>
        <div  class="homeowner__header mt-5"><h3  class="w-60">Pros of a Home
          Warranty for <span >Sellers</span></h3></div>
          <div  class="homeowner__content"><div  class="w-65"><img  alt="" class="img-fluid" src="assets/images/sellers1.png"><div  class="greenline"></div><p  class="w-100 mt-5">Sellers get a lot of benefits from putting a home to
            market that is covered by a home warranty. Home
            warranty service agreements can increase
            marketability, making a home with older appliances
            or systems more desirable</p>

            <small>
              A home warranty can also provide clout in negotiations. Because it is so
valuable to have older appliances or systems covered, it may provide a better
deal for home sellers. Elite Home Warranty service agreements can be
transferred at point of sale to the new owner, providing huge benefit and
peace of mind.
            </small>
          
          </div></div>

          <div  class="homeowner__header mt-5"><h3  class="w-70">Pros of a Home
            Warranty for <span >Realtors</span></h3></div>
            <div  class="homeowner__content"><div  class="w-65"><img  alt="" class="img-fluid" src="assets/images/whyrealtorpartners.png"><div  class="greenline"></div>
            <p  class="w-100 mt-5">Listing agents benefit from having a home
              warranty on every single listing. This is because it
              is a standout feature that lets buyers know they
              will be protected if something breaks down</p>
  
              <small>
                This kind of financial protection has a lot of value during home sales and
purchases. Smart realtors use home warranties as a standard practice.
If you d like to learn more about Elite Home Warranty s partnership
opportunities with realtors, or specific offerings
              </small>
              <br>
              <br>
              <div  class="actionControl"><button  class="submit-btn float-left" type="button"><span >CONTACT US</span></button></div>
            </div></div>


            <div  class="homeowner__header mt-5"><h3  class="w-60">Learn More About
              Elite Home Warranty</h3></div>

              <div  class="homeowner__content"><div ></div><p style="font-size: 16px;">
                Elite Home Warranty is a premiere home
                warranty company. We offer the highest level of
                customization for our clients. Whether you are a
                homeowner or realtor, buying an Elite Home
                Warranty has immense value</p></div>

                <div  class="homeowner__content justify-content-end mt-5"><p  class="w-70" style="background: #dae2d2; padding: 20px;"> At the end of the day, we are here to support
                  everyone who buys a home warranty service
                  agreement from us </p></div>
    
      <div style="clear: both;"></div>
  
    
  <div class="ps-section">
    <div class="ps">
      P.S
    </div>
    <div class="w-100">
      <h2>Building the future of
        home warranties together</h2>
    </div>
  </div>
  
    </div>
  </div>
  
  
  
  