.box-btn {
  display: none;
}

h2,
h3,
h4 {
  color: #394C45;
  text-transform: uppercase;
}

.w-75 {
  width: 75% !important;
}

.w-60 {
  width: 60% !important;
}

.w-90 {
  width: 90% !important;
}

.mat-error {
  background: white;
  margin-top: 5px;
  display: inline-block;
  padding: 0 5px;
}



.formitemin {
  position: relative;

  &.formiteminfull {
    span {
      width: 100%;
      margin-left: 0;

      .mat-error {
        width: 100%;
      }
    }

    input {
      border: none;
    }
  }
}

.invoice {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  justify-content: center;
  padding-top: 20px;
}

.cusinvoice {
  padding-bottom: 10px;
  justify-content: center;
  padding-top: 20px;
  
}
.mobile-border{
  border: 2px solid #394C45;
  height: 54px;
}
